<sidebar></sidebar>
<div class="sidebar">
  <adminhome-topbar></adminhome-topbar>
</div>
<div class="sidebar-subpage">

  <h3>
    Edit User
  </h3>
  <p>

  </p>

</div>


<div class="main">

  <div class="container-fluid">
    <div class="row">

      <div class="col-md-12 col-sm-12">
        <div class="content view">
          <div class="row">

            <div class="col-md-12 col-sm-12">
              <form #theform="ngForm">

                <div class="form-group clearfix row">
                  <label class="label-text col-sm-3">Username</label>
                  <div class="col-sm-9">
                    <input [(ngModel)]="element.username" label="Username" name="username" pInputText
                           placeholder="Username">
                  </div>
                </div>


                <div class="form-group clearfix row">
                  <label class="label-text col-sm-3">Name</label>
                  <div class="col-sm-9">
                    <input [(ngModel)]="element.name" label="Name" name="name" pInputText placeholder="Name">
                  </div>
                </div>

                <div class="form-group clearfix row">
                  <label class="label-text col-sm-3">Surname</label>
                  <div class="col-sm-9">
                    <input [(ngModel)]="element.surname" label="Surname" name="surname" pInputText
                           placeholder="Surname">
                  </div>
                </div>


                <div class="form-group clearfix row">
                  <label class="label-text col-sm-3">Email</label>
                  <div class="col-sm-9">
                    <input [(ngModel)]="element.email" label="Email" name="email" pInputText placeholder="Email">
                  </div>
                </div>


                <div class="form-group clearfix row">
                  <label class="label-text col-sm-3">Password</label>
                  <div class="col-sm-9">
                    <input [(ngModel)]="element.password" label="Password" type="password" pInputText name="password"
                           pPassword>
                  </div>
                </div>


                <div class="form-group clearfix row">
                  <label class="label-text col-sm-3">Roles</label>
                  <div class="col-sm-9">

                    <p-multiSelect [(ngModel)]="userRoles" [options]="roles" [style]="{ width: '100%' }" appendTo="body"
                                   name="roles">
                    </p-multiSelect>
                  </div>
                </div>


                <div class="btn-group btn-actions pull-right">
                  <button type="button" *ngIf="!element.uuid_username" [disabled]="!theform.form.valid"
                          class="btn btn-success" (click)="save()">
                    SALVA
                  </button>

                  <button type="button" *ngIf="element.uuid_username" [disabled]="!theform.form.valid"
                          class="btn btn-success" (click)="update()">
                    MODIFICA
                  </button>

                  <button type="button" *ngIf="element.uuid_username" [disabled]="!theform.form.valid"
                          class="btn btn-danger" (click)="confirmDelete()">
                    ELIMINA
                  </button>

                  <button type="button" (click)="navigateToList()" class="btn btn-danger">ANNULLA</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
