<sidebar></sidebar>

<div class="sidebar">
  <adminhome-topbar></adminhome-topbar>
</div>

<div class="sidebar-subpage">
  <h3>
    Edit Select Query
  </h3>
  <p>
  </p>

</div>


<div class="main">

  <div class="container-fluid">
    <div class="row">

      <div class="col-md-12 col-sm-12">
        <div class="content view">
          <form #theform="ngForm">

            <div class="form-group clearfix row">
              <label class="label-text col-sm-3">Nome (*)</label>
              <div class="col-sm-9">
                <input [(ngModel)]="element.query_name" required label="Name (*)" name="query_name" pInputText
                       placeholder="Name (*)">
              </div>
            </div>

            <div class="form-group clearfix row">
              <label class="label-text col-sm-3">Query</label>
              <div class="col-sm-9">
                <input [(ngModel)]="element.select_query" name="select_query" pInputText placeholder="Query">
              </div>
            </div>


            <div class="form-group clearfix row">
              <label class="label-text col-sm-3">With Params</label>
              <div class="col-sm-9">
                <p-inputSwitch [(ngModel)]="element.with_params" name="with_params">with_params</p-inputSwitch>
              </div>
            </div>


            <div class="btn-group btn-actions pull-right">

              <button (click)="save()" [disabled]="!theform.form.valid" *ngIf="!element.uuid" class="btn btn-success"
                      type="button">
                SALVA
              </button>

              <button (click)="update()" [disabled]="!theform.form.valid" *ngIf="element.uuid" class="btn btn-success"
                      type="button">
                MODIFICA
              </button>

              <button (click)="confirmDelete()" *ngIf="element.uuid" class="btn btn-danger" type="button">
                ELIMINA
              </button>

              <button (click)="navigateToList()" class="btn btn-danger" type="button">
                ANNULLA
              </button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
