<sidebar></sidebar>

<div class="sidebar">
  <adminhome-topbar></adminhome-topbar>
</div>


<div class="sidebar-subpage">

  <h3>
    Edit Url Map Rules
  </h3>
  <p>

  </p>

</div>


<div class="main">

  <div class="container-fluid">
    <div class="row">

      <div class="col-md-12 col-sm-12">
        <div class="content view">
          <div class="row">

            <div class="col-md-12 col-sm-12">
              <form>


                <div class="form-group clearfix row">
                  <label class="label-text col-sm-3">Pattern</label>
                  <div class="col-sm-9">
                    <input [(ngModel)]="element.pattern" label="Pattern" name="pattern" pInputText
                           placeholder="Pattern">
                  </div>
                </div>


                <div class="form-group clearfix row">
                  <label class="label-text col-sm-3">Access</label>
                  <div class="col-sm-9">
                    <input [(ngModel)]="element.access" label="Access" name="access" pInputText placeholder="Access">
                  </div>
                </div>

                <div class="form-group clearfix row">
                  <label class="label-text col-sm-3">HttpMethods</label>
                  <div class="col-sm-9">
                    <input [(ngModel)]="element.httpMethods" label="Http Methods" name="httpMethods" pInputText
                           placeholder="HttpMethods">
                  </div>
                </div>

                <div class="btn-group btn-actions pull-right">
                  <button type="button" *ngIf="!element.uuid" [disabled]="!theform.form.valid"
                          (click)="save()" class="btn btn-success">
                    SALVA
                  </button>
                  <button type="button" *ngIf="element.uuid" [disabled]="!theform.form.valid"
                          (click)="update()" class="btn btn-success">
                    MODIFICA
                  </button>
                  <button type="button" *ngIf="element.uuid" (click)="confirmDelete()" class="btn btn-danger">
                    ELIMINA
                  </button>
                  <button type="button" (click)="navigateToList()" class="btn btn-danger">
                    ANNULLA
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
