<sidebar></sidebar>
<div class="sidebar">
  <homepage-topbar></homepage-topbar>
</div>
<div class="main">

  <div class="container-fluid">
    <div class="row">

      <div class="col-md-12 col-sm-12">
        <div class="content view">
          <h3>
            Edit {{metadataName}}
          </h3>
          <div class="clearfix"></div>
          <br>
          <div class="clearfix"></div>

          <div *ngIf="regConfig != null && regConfig.length > 0">
            <dynamic-form [fields]="regConfig">
            </dynamic-form>

            <button type="button" class="btn btn-success" *ngIf="!uuid" (click)="save()">SALVA</button>
            <button type="button" class="btn btn-success" *ngIf="uuid" (click)="update()">AGGIORNA</button>
            <button type="button" class="btn btn-success" *ngIf="uuid" (click)="confirmDelete()">ELIMINA</button>
            <button type="button" class="btn btn-warning" (click)="cancel()">ANNULLA</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
