<sidebar></sidebar>

<div class="col-md-3 col-sm-3 sidebar">
  <homepage-topbar></homepage-topbar>
</div>
<div class="col-md-9 col-sm-9">
  <div class="row">
    <div class="col-md-12">
  <div class="content list">
    <form>
      <h3>Lista Metadati Generabili</h3>


      <p-table #table [paginator]="true" [resizableColumns]="true"
               [responsive]="true" [rows]="10" [totalRecords]="model.length" [value]="model">

        <ng-template let-columns pTemplate="header">
          <tr class="sort-header">
            <th pResizableColumn>Indice</th>
            <th pResizableColumn>Nome Tabella
            </th>
            <th class="Operations">Operazioni</th>
            <th class="Operations">Operazioni</th>

          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td [attr.colspan]="4">
              Nessun risultato.
            </td>
          </tr>
        </ng-template>
        <ng-template let-rowData let-rowIndex="rowIndex" pTemplate="body">
          <tr>
            <td class="RowIndex">{{ rowIndex + 1 }}</td>
            <td class="ui-resizable-column">{{rowData}}</td>
            <td>
              <button (click)="toList(rowData)" class="btn btn-success btn-sm" pButton>
                <i aria-hidden="true" class="fa fa-pencil"></i>
                Lista
              </button>
            </td>
            <td>
              <button (click)="toForm(rowData)" class="btn btn-info btn-sm" pButton>
                <i aria-hidden="true" class="fa fa-table"></i>
                Nuovo
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </form>

  </div>
</div>
  </div>
</div>
