<sidebar></sidebar>
<div class="sidebar">
    <adminhome-topbar></adminhome-topbar>
</div>

<div class="sidebar-subpage">

    <h3>
        View Metadata
    </h3>
    <p>

    </p>

</div>


<div class="main">

    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="content view">
                    <div class="row">
                        <div class="col-sm-6">

                            <div class="form-group clearfix row">
                                <label class="label-text col-sm-3">Label (*)</label>
                                <div class="col-sm-9">
                                    {{element.table_name}}
                                </div>
                            </div>

                            <div class="form-group clearfix row">
                                <label class="label-text col-sm-3">Icon</label>
                                <div class="col-sm-9">
                                    <i class="{{element.icon}}" *ngIf="element.icon"></i>
                                </div>
                            </div>

                            <div class="form-group clearfix row">
                                <label class="label-text col-sm-3">Select Fields</label>
                                <div class="col-sm-9">
                                    {{element.select_fields}}
                                </div>
                            </div>

                            <div class="form-group clearfix row">
                                <label class="label-text col-sm-3">Search Fields</label>
                                <div class="col-sm-9">
                                    {{element.search_fields}}
                                </div>
                            </div>


                            <div class="form-group clearfix row">
                                <label class="label-text col-sm-3">Description</label>
                                <div class="col-sm-9">
                                    {{element.description}}
                                </div>
                            </div>


                            <div class="form-group clearfix row">
                                <label class="label-text col-sm-3">Alias table</label>
                                <div class="col-sm-9">
                                    {{element.alias_table}}
                                </div>
                            </div>

                            <div class="form-group clearfix row">
                                <label class="label-text col-sm-3">Alias condition</label>
                                <div class="col-sm-9">
                                    {{element.alias_condition}}
                                </div>
                            </div>


                        </div>

                        <div class="col-sm-6">

                            <div class="form-group clearfix row">
                                <label class="label-text col-sm-3">Table key (*)</label>
                                <div class="col-sm-9">
                                    {{element.table_key}}
                                </div>
                            </div>

                            <div class="form-group clearfix row">
                                <label class="label-text col-sm-3">Table key Type(*)</label>
                                <div class="col-sm-9">
                                    {{element.table_key_type}}
                                </div>
                            </div>

                            <div *ngIf="element.table_key_type == 'slug'" class="form-group clearfix row">
                                <label class="label-text col-sm-3">Table key Addition (*)</label>
                                <div class="col-sm-9">
                                    {{element.table_key_addition}}
                                </div>
                            </div>

                            <div class="form-group clearfix row">
                                <label class="label-text col-sm-3">Creation query</label>
                                <div class="col-sm-9">
                                    {{element.creation_query}}
                                </div>
                            </div>


                            <div class="form-group clearfix row">
                                <label class="label-text col-sm-3">Tab & Groups</label>
                                <div class="col-sm-9">
                                    {{element.tab_groups}}
                                </div>
                            </div>

                            <div class="form-group clearfix row">
                                <label class="label-text col-sm-3">Order By</label>
                                <div class="col-sm-9">
                                    {{element.order_by}}
                                </div>
                            </div>

                            <div class="form-group clearfix row">
                                <label class="label-text col-sm-3">Created?</label>
                                <div class="col-sm-9">
                                    {{element.created}}
                                </div>
                            </div>
                            <div class="form-group clearfix row">
                                <label class="label-text col-sm-3">Already exist?</label>
                                <div class="col-sm-9">
                                    {{element.already_exist}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div><br>
            <div class="col-md-12 col-sm-12">
                <div class="content view">
                    <h3>
                        Field Definitions
                    </h3>
                    <p-table [paginator]="true" [resizableColumns]="true" [responsive]="true" [rows]="10" [totalRecords]="fieldDefinitionService.listSize" [value]="fieldDefinitions">
                        <ng-template let-columns pTemplate="header">
                            <tr class="sort-header">
                                <th pResizableColumn>Indice</th>
                                <th pResizableColumn>Name</th>
                                <th pResizableColumn>Metadata Name</th>
                                <th pResizableColumn>Label</th>
                                <th pResizableColumn>Table Key</th>
                                <th pResizableColumn>Input Type</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td [attr.colspan]="colspan">Nessun risultato.</td>
                            </tr>
                        </ng-template>
                        <ng-template let-rowData let-rowIndex="rowIndex" pTemplate="body">
                            <tr>
                                <td class="RowIndex">{{ rowIndex + 1 }}</td>
                                <td class="ui-resizable-column">{{rowData.name}}</td>
                                <td class="ui-resizable-column">{{rowData.metadata_name}}</td>
                                <td class="ui-resizable-column">{{rowData.label}}</td>
                                <td class="ui-resizable-column">{{rowData.table_key}}</td>
                                <td class="ui-resizable-column">{{rowData.type}}</td>
                            </tr>
                        </ng-template>
                    </p-table>

                </div>
            </div>
        </div>
    </div>
</div>