.ui-widget,
.ui-widget * {
    box-sizing: border-box;
}

.ui-helper-hidden {
    display: none !important;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.ui-helper-hidden-accessible input,
.ui-helper-hidden-accessible select {
    transform: scale(0);
}

.ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
}

.ui-helper-clearfix::before,
.ui-helper-clearfix::after {
    content: "";
    display: table;
}

.ui-helper-clearfix::after {
    clear: both;
}

.ui-helper-clearfix {
    zoom: 1;
}

.ui-helper-zfix {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    filter: Alpha(Opacity=0);
}

.ui-state-disabled {
    cursor: default !important;
    opacity: 0.5;
}

.ui-state-disabled a {
    cursor: default !important;
}

.ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}

.ui-widget-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.ui-resizable {
    position: relative;
}

.ui-resizable-handle {
    position: absolute;
    font-size: 0.1px;
    display: block;
}

.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
    display: none;
}

.ui-resizable-n {
    cursor: n-resize;
    height: 7px;
    width: 100%;
    top: -5px;
    left: 0;
}

.ui-resizable-s {
    cursor: s-resize;
    height: 7px;
    width: 100%;
    bottom: -5px;
    left: 0;
}

.ui-resizable-e {
    cursor: e-resize;
    width: 7px;
    right: -5px;
    top: 0;
    height: 100%;
}

.ui-resizable-w {
    cursor: w-resize;
    width: 7px;
    left: -5px;
    top: 0;
    height: 100%;
}

.ui-resizable-se {
    cursor: se-resize;
    width: 12px;
    height: 12px;
    right: 1px;
    bottom: 1px;
}

.ui-resizable-sw {
    cursor: sw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    bottom: -5px;
}

.ui-resizable-nw {
    cursor: nw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    top: -5px;
}

.ui-resizable-ne {
    cursor: ne-resize;
    width: 9px;
    height: 9px;
    right: -5px;
    top: -5px;
}

.ui-shadow {
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
}

.ui-unselectable-text {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.ui-scrollbar-measure {
    width: 100px;
    height: 100px;
    overflow: scroll;
    position: absolute;
    top: -9999px;
}

.ui-overflow-hidden {
    overflow: hidden;
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #898989;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #898989;
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #898989;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #898989;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #898989;
}

.ui-placeholder {
    color: #898989;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"]::-webkit-file-upload-button,
button {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.ui-autocomplete {
    width: auto;
    zoom: 1;
    cursor: pointer;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    position: relative;
    display: inline-block;
    width: 100%;
}

.ui-autocomplete .ui-autocomplete-dropdown {
    height: 100%;
    width: 2em;
    margin-right: 0;
    vertical-align: top;
}

.ui-autocomplete .ui-autocomplete-input {
    padding-right: 1.5em;
    cursor: pointer;
    color: #333;
    border: 1px solid #cfdadd;
    border-right: 0px;
    padding: 6px 12px;
    width: calc(100% - 32px);
    border-radius: 4px;
    background-color: #FFF;
    height: 34px !important;
}

.ui-autocomplete-loader {
    position: absolute;
    right: 40px !important;
    top: 10px;
}

.ui-autocomplete-query {
    font-weight: bold;
}

.ui-autocomplete .ui-autocomplete-panel {
    min-width: 100%;
    background-color: #FFF;
}

.ui-autocomplete-panel {
    position: absolute;
    overflow: auto;
}

.ui-autocomplete-panel .ui-autocomplete-list {
    padding: 0.4em;
    border: 0 none;
}

.ui-autocomplete-panel .ui-autocomplete-list-item {
    border: 0 none;
    cursor: pointer;
    font-weight: normal;
    margin: 1px 0;
    padding: 6px 12px;
    text-align: left;
    height: 34px !important;
}

.ui-autocomplete-panel .ui-autocomplete-list-item:hover {
    background-color: #efefef;
}

.ui-autocomplete .ui-button-icon-only,
.ui-autocomplete .ui-button-icon-only:enabled:hover,
.ui-autocomplete .ui-button-icon-only:enabled:focus,
.ui-autocomplete .ui-button-icon-only:enabled:active {
    border-left: 0 none;
}

/** TabMenu **/

.ui-tabmenu .ui-tabmenu-nav {
    margin: 0;
    padding: .25em .5em 0 .25em;
}

.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem {
    list-style: none;
    float: left;
    position: relative;
    margin: 0 .2em 1px 0;
    padding: 0;
    white-space: nowrap;
    display: block;
    border-bottom: 0;
    top: 1px;
}

.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a {
    float: left;
    padding: 0.5em 1em;
    text-decoration: none;
}

.ui-tabmenu .ui-tabmenu-nav a {
    padding: 0.5em 1em;
}

.ui-tabmenu .ui-menuitem-icon {
    margin-right: .25em;
    vertical-align: middle;
}

.ui-tabmenu .ui-menuitem-text {
    vertical-align: middle;
}

.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-disabled a {
    cursor: default;
}

.ui-tabview {}

.ui-tabview .ui-tabview-nav {
    margin: 0;
}

.ui-tabview .ui-tabview-nav li {
    list-style: none;
    float: left;
    position: relative;
    margin: 0 .125em 1px 0;
    padding: 0;
    white-space: nowrap;
}

.ui-tabview .ui-tabview-nav li a {
    float: left;
    padding: .5em 1em;
    text-decoration: none;
    font-size: 15px;
    color: #58666e;
}

.ui-tabview .ui-tabview-nav li.ui-tabview-selected a,
.ui-tabview .ui-tabview-nav li.ui-state-disabled a,
.ui-tabview .ui-tabview-nav li.ui-state-processing a {
    cursor: text;
}

.ui-tabview .ui-tabview-nav li a,
.ui-tabview.ui-tabview-collapsible .ui-tabview-nav li.ui-tabview-selected a {
    cursor: pointer;
}

.ui-tabview .ui-tabview-nav li.ui-tabview-selected a {
    background-color: #FFF;
    color: #58666e;
    border-style: solid;
    border-width: 1px 1px 0px 1px;
    border-color: #dee5e7;
    margin-bottom: -1px;
}

.ui-tabview .ui-tabview-panel {
    border-width: 0;
    padding: 0em;
    background: none;
}

.ui-tabview .ui-tabview-nav li {
    display: block;
}

.ui-tabview .ui-tabview-nav li .ui-tabview-left-icon {
    margin-right: .25em;
    vertical-align: middle;
}

.ui-tabview .ui-tabview-nav li .ui-tabview-right-icon {
    margin-left: .25em;
    vertical-align: middle;
}

.ui-tabview .ui-tabview-title {
    vertical-align: middle;
}

.ui-tabview .ui-tabview-nav li .ui-tabview-close {
    margin: 0.5em 0.3em 0 0;
    cursor: pointer;
}

/* per orientation settings */

/* top and bottom */

.ui-tabview.ui-tabview-top>.ui-tabview-nav li {
    border-bottom: 0;
    top: 1px;
}

.ui-tabview.ui-tabview-top>.ui-tabview-nav {
    padding: 0px;
}

.ui-tabview.ui-tabview-bottom>.ui-tabview-nav {
    padding: 0 .2em .2em;
}

.ui-tabview.ui-tabview-bottom>.ui-tabview-nav li {
    border-top: 0;
}

/* left and right*/

.ui-tabview-left::after,
.ui-tabview-right::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.ui-tabview-left>.ui-tabview-nav {
    float: left;
    width: 25%;
    height: 300px;
    background-image: none;
    padding-top: 1px;
}

.ui-tabview-left>.ui-tabview-panels {
    float: right;
    width: 75%;
}

.ui-tabview.ui-tabview-left>.ui-tabview-nav li,
.ui-tabview.ui-tabview-right>.ui-tabview-nav li {
    display: block;
    float: right;
    white-space: normal;
    width: 99%;
}

.ui-tabview.ui-tabview-left>.ui-tabview-nav li {
    margin: 0 0 1px 0;
    border-right: 0 none;
}

.ui-tabview.ui-tabview-right>.ui-tabview-nav {
    float: right;
    width: 25%;
    height: 300px;
    background-image: none;
    padding-top: 1px;
}

.ui-tabview.ui-tabview-right>.ui-tabview-panels {
    float: left;
    width: 75%;
}

.ui-tabview.ui-tabview-right>.ui-tabview-nav li {
    margin: 0 0 1px 0;
    border-left: 0 none;
}

/* Multiple Selection */

.ui-autocomplete-multiple-container {
    display: inline-block;
    vertical-align: middle;
}

.ui-autocomplete-multiple-container.ui-inputtext {
    clear: left;
    cursor: text;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    border: 1px solid #cfdadd;
    padding: 3px 12px;
    width: calc(100% - 32px);
    border-radius: 4px;
}

.ui-autocomplete-token {
    cursor: default;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    padding: .125em .5em;
    white-space: nowrap;
    position: relative;
    margin-right: .125em;
    border: 0 none;
    font-size: .9em;
    background-color: #efefef;
    border-radius: 4px;
    margin-right: 5px;
    margin-bottom: 4px;
}

.ui-autocomplete-token-label {
    display: block;
    margin-right: 2em;
}

.ui-autocomplete-token-icon {
    margin-top: -.5em;
    position: absolute;
    right: 0.2em;
    top: 50%;
    cursor: pointer;
}

.ui-autocomplete-input-token {
    display: inline-block;
    vertical-align: middle;
    list-style-type: none;
    margin: 0 0 0 .125em;
    padding: .25em .25em .25em 0;
}

.ui-autocomplete-input-token input {
    border: 0 none;
    width: 10em;
    outline: medium none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    box-shadow: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.ui-autocomplete-dd .ui-autocomplete-loader {
    right: 2.25em;
}

.ui-autocomplete-dd input.ui-corner-all,
.ui-autocomplete-dd .ui-autocomplete-multiple-container.ui-corner-all {
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.ui-autocomplete-dd .ui-autocomplete-dropdown.ui-corner-all {
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 7px 15px;
    border: 1px solid #ccc !important;
    background-color: #efefef;
}

/** AutoComplete **/

.ui-fluid p-autocomplete,
.ui-fluid .ui-autocomplete,
.ui-fluid .ui-autocomplete-input {
    width: 100%;
}

.ui-fluid .ui-autocomplete.ui-autocomplete-dd .ui-autocomplete-input,
.ui-fluid .ui-autocomplete.ui-autocomplete-dd .ui-autocomplete-multiple-container {
    width: calc(100% - 2em);
}

.ui-fluid .ui-autocomplete .ui-autocomplete-dropdown.ui-button {
    width: 2em;
}

.ui-blockui {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ui-blockui-document {
    position: fixed;
}

/** Breadcrumb **/

.ui-breadcrumb {
    margin: 0;
    padding: 0;
    padding: .5em;
}

.ui-breadcrumb ul {
    margin: 0;
    padding: 0;
}

.ui-breadcrumb ul li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 .25em;
}

.ui-breadcrumb ul li .ui-menuitem-link {
    text-decoration: none;
}

.ui-accordion {
    width: 100%;
}

.ui-accordion .ui-accordion-header {
    cursor: pointer;
    position: relative;
    margin-top: 1px;
    zoom: 1;
}

.ui-accordion .ui-accordion-header a {
    display: block;
    padding: .5em;
}

.ui-accordion .ui-accordion-content {
    padding: 1em;
    border-top: 0;
    overflow: visible;
    zoom: 1;
}

.ui-accordion .ui-accordion-header.ui-state-disabled,
.ui-accordion .ui-accordion-header.ui-state-disabled a {
    cursor: default;
}

.ui-accordion-content-wrapper-overflown {
    overflow: hidden;
}

.ui-rtl .ui-accordion .ui-accordion-header a {
    padding: .5em 2em .5em .5em;
}

.ui-rtl .ui-accordion .ui-accordion-toggle-icon {
    left: initial;
    right: .5em;
}

.ui-rtl .ui-accordion .ui-accordion-toggle-icon.pi-caret-right:before {
    content: '\e904';
}

/* Button */

.ui-button {
    display: inline-block;
    position: relative;
    text-decoration: none !important;
    cursor: pointer;
    text-align: center;
    zoom: 1;
    overflow: visible;
    /* the overflow property removes extra width in IE */
    margin-right: 5px;
}

p-button {
    display: inline-block;
}

.ui-button-icon-only {
    padding: 6px 15px;
}

/*button text element */

.ui-button .ui-button-text {
    display: block;
    line-height: normal;
    margin-left: 13px;
}

.ui-button-text-only .ui-button-text {}

.ui-button-icon-only .ui-button-text,
.ui-button-text-empty .ui-button-text {
    text-indent: -9999999px;
}

.ui-button-text-icon-left .ui-button-text {}

.ui-button-text-icon-right .ui-button-text {}

/*button icon element(s) */

.ui-button-icon-only .ui-button-icon-left,
.ui-button-text-icon-left .ui-button-icon-left,
.ui-button-text-icon-right .ui-button-icon-right {
    position: absolute;
    top: 50%;
    margin-top: -.5em;
    height: 1em;
}

.ui-button-icon-only .ui-button-icon-left {
    top: 50%;
    left: 50%;
    margin-top: -.5em;
    margin-left: -.5em;
    width: 1em;
    height: 1em;
}

.ui-button-icon-left {
    left: .5em;
}

.ui-button-icon-right {
    right: .5em;
}

/*button sets*/

.ui-buttonset .ui-button {
    margin-left: 0;
    margin-right: 5px;
}

/* workarounds */

button.ui-button::-moz-focus-inner {
    border: 0;
    padding: 0;
    /* reset extra padding in Firefox */
}

/** Fluid **/

.ui-fluid .ui-button {
    width: 100%;
}

.ui-fluid .ui-button-text-icon-left .ui-button-text,
.ui-fluid .ui-button-text-icon-right .ui-button-text {
    padding-left: 1em;
    padding-right: 1em;
}

/** ButtonSet **/

.ui-fluid .ui-buttonset {
    width: 100%;
}

.ui-fluid .ui-buttonset.ui-buttonset-1 .ui-button {
    width: 100%;
}

.ui-fluid .ui-buttonset.ui-buttonset-2 .ui-button {
    width: 50%;
}

.ui-fluid .ui-buttonset.ui-buttonset-3 .ui-button {
    width: 33.3%;
}

.ui-fluid .ui-buttonset.ui-buttonset-4 .ui-button {
    width: 25%;
}

.ui-fluid .ui-buttonset.ui-buttonset-5 .ui-button {
    width: 20%;
}

.ui-fluid .ui-buttonset.ui-buttonset-6 .ui-button {
    width: 16.6%;
}

@media (max-width: 640px) {
    .ui-fluid .ui-buttonset.ui-buttonset-1 .ui-button,
    .ui-fluid .ui-buttonset.ui-buttonset-2 .ui-button,
    .ui-fluid .ui-buttonset.ui-buttonset-3 .ui-button,
    .ui-fluid .ui-buttonset.ui-buttonset-4 .ui-button,
    .ui-fluid .ui-buttonset.ui-buttonset-5 .ui-button,
    .ui-fluid .ui-buttonset.ui-buttonset-6 .ui-button {
        width: 100%;
    }
}

/* Severity Buttons */

/* Secondary */

.ui-button.ui-button-secondary.ui-state-default,
.ui-splitbutton.ui-button-secondary .ui-button.ui-state-default {
    background-color: #ffffff;
    border-color: #cccccc;
    color: #373a3c;
}

.ui-button.ui-button-secondary:enabled:hover,
.ui-button.ui-button-secondary:focus,
.ui-splitbutton.ui-button-secondary .ui-button:enabled:hover,
.ui-splitbutton.ui-button-secondary .ui-button:focus {
    background-color: #f2f2f2;
    border-color: #cccccc;
    color: #373a3c;
}

.ui-button.ui-button-secondary:enabled:active,
.ui-splitbutton.ui-button-secondary .ui-button:enabled:active {
    background-color: #e6e6e6;
    border-color: #cccccc;
    color: #373a3c;
}

/* Success */

.ui-button.ui-button-success.ui-state-default,
.ui-splitbutton.ui-button-success .ui-button.ui-state-default {
    background-color: #5cb85c;
    border-color: #5cb85c;
    color: #ffffff;
}

.ui-button.ui-button-success:enabled:hover,
.ui-button.ui-button-success:focus,
.ui-splitbutton.ui-button-success .ui-button:enabled:hover,
.ui-splitbutton.ui-button-success .ui-button:focus {
    background-color: #4cae4c;
    border-color: #5cb85c;
}

.ui-button.ui-button-success:enabled:active,
.ui-splitbutton.ui-button-success .ui-button:enabled:active {
    background-color: #449d44;
    border-color: #5cb85c;
}

/* Info */

.ui-button.ui-button-info.ui-state-default,
.ui-splitbutton.ui-button-info .ui-button.ui-state-default {
    background-color: #5bc0de;
    border-color: #5bc0de;
    color: #ffffff;
}

.ui-button.ui-button-info:enabled:hover,
.ui-button.ui-button-info:focus,
.ui-splitbutton.ui-button-info .ui-button:enabled:hover,
.ui-splitbutton.ui-button-info .ui-button:focus {
    background-color: #46b8da;
    border-color: #5bc0de;
}

.ui-button.ui-button-info:enabled:active,
.ui-splitbutton.ui-button-info .ui-button:enabled:active {
    background-color: #31b0d5;
    border-color: #5bc0de;
}

/* Warning */

.ui-button.ui-button-warning.ui-state-default,
.ui-splitbutton.ui-button-warning .ui-button.ui-state-default {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
    color: #ffffff;
}

.ui-button.ui-button-warning:enabled:hover,
.ui-button.ui-button-warning:focus,
.ui-splitbutton.ui-button-warning .ui-button:enabled:hover,
.ui-splitbutton.ui-button-warning .ui-button:focus {
    background-color: #eea236;
    border-color: #f0ad4e;
}

.ui-button.ui-button-warning:enabled:active,
.ui-splitbutton.ui-button-warning .ui-button:enabled:active {
    background-color: #ec971f;
    border-color: #f0ad4e;
}

/* Danger */

.ui-button.ui-button-danger.ui-state-default,
.ui-splitbutton.ui-button-danger .ui-button.ui-state-default {
    background-color: #d9534f;
    border-color: #d9534f;
    color: #ffffff;
}

.ui-button.ui-button-danger:enabled:hover,
.ui-button.ui-button-danger:focus,
.ui-splitbutton.ui-button-danger .ui-button:enabled:hover,
.ui-splitbutton.ui-button-danger .ui-button:focus {
    background-color: #d43f3a;
    border-color: #d9534f;
}

.ui-button.ui-button-danger:enabled:active,
.ui-splitbutton.ui-button-danger .ui-button:enabled:active {
    background-color: #c9302c;
    border-color: #d9534f;
}

.ui-card {
    background-color: #FFF;
    margin-bottom: 20px;
    border: 1px solid #dee5e7;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.ui-card-header {
    padding: 15px 20px;
    border-bottom: 1px solid #dee5e7;
    background-color: #efefef;
}

.ui-card-header img {
    width: 100%;
}

.ui-card-body {
    padding: 15px 20px;
}

.ui-card-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: .5em;
}

.ui-card-subtitle {
    opacity: .7;
    margin-bottom: .5em;
    margin-top: -.25em;
    font-weight: bold;
}

.ui-card-footer {
    padding-top: 1em;
}

.ui-card-shadow {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.ui-carousel {
    position: relative;
    padding: .063em;
}

.ui-carousel .ui-carousel-viewport .ui-carousel-items {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 32000px;
    left: 0;
}

.ui-carousel .ui-carousel-viewport .ui-carousel-items .ui-carousel-item {
    margin: 1px;
    padding: 0;
    float: left;
    box-sizing: border-box;
}

.ui-carousel .ui-carousel-viewport {
    overflow: hidden;
    position: relative;
    border: 0;
}

.ui-carousel .ui-carousel-footer {
    margin: 1px 1px 0px 1px;
    padding: .5em;
    overflow: hidden;
}

.ui-carousel .ui-carousel-header {
    margin: 0 1px;
    overflow: hidden;
    padding: .625em;
}

.ui-carousel .ui-carousel-header .ui-carousel-header-title {
    display: inline-block;
    overflow: hidden;
}

.ui-carousel .ui-carousel-dropdown,
.ui-carousel .ui-carousel-mobiledropdown {
    float: right;
    margin: 0px .625em;
    background-image: none;
}

.ui-carousel .ui-carousel-dropdown option,
.ui-carousel .ui-carousel-mobiledropdown option {
    background-image: none;
    border: 0 none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.ui-carousel .ui-carousel-button {
    float: right;
    margin: .125em;
}

.ui-carousel .ui-carousel-page-link {
    float: left;
    margin: 0 .125em;
    text-decoration: none;
}

.ui-carousel .ui-carousel-page-link,
.ui-carousel .ui-carousel-button {
    cursor: pointer;
}

.ui-carousel .ui-carousel-page-links {
    margin: 0px .5em;
    margin-top: .125em;
    float: right;
}

.ui-carousel .ui-carousel-mobiledropdown {
    display: none;
}

.ui-calendar {
    position: relative;
    display: inline-block;
    width: 100%;
}

.ui-calendar .ui-calendar-button {
    position: absolute;
    height: 100%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 2em;
    border-left: 0 none;
}

.ui-calendar input.ui-inputtext {
    width: 100%;
    border-radius: 4px;
}

.ui-calendar .ui-calendar-button .ui-button-icon-left {
    font-size: 1.25em;
}

.ui-calendar .ui-calendar-button:enabled:hover,
.ui-calendar .ui-calendar-button:focus {
    border-left: 0 none;
}

/* Fluid */

.ui-fluid .ui-calendar {
    width: 100%;
}

.ui-fluid .ui-calendar-button {
    width: 2em;
}

.ui-fluid .ui-datepicker-buttonbar button {
    width: auto;
}

.ui-fluid .ui-calendar.ui-calendar-w-btn .ui-inputtext {
    width: calc(100% - 2em);
}

/* Datepicker */

.ui-datepicker {
    position: absolute;
    z-index: 10000;
    background-color: #FFF;
    padding: 0px;
    width: 300px;
    box-shadow: 0px 1px 7px rgba(61, 86, 114, 0.2);
    border-radius: 4px;
    top: 35px;
}

.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: .4em 0;
    background-color: fade(@bluegrey, 20%);
    border-bottom: 4px solid fade(@bluegrey, 30px);
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: .5em;
    width: 1.8em;
    height: 1.8em;
}

.ui-datepicker .ui-datepicker-prev {
    left: .125em;
}

.ui-datepicker .ui-datepicker-next {
    right: .125em;
}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -.5em;
    color: @bluegrey  !important;
}

.ui-datepicker .ui-datepicker-prev span {
    margin-left: -.25em;
}

.ui-datepicker .ui-datepicker-next span {
    margin-left: -.125em;
}

.ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center;
    color: @bluegrey;
}

.ui-datepicker .ui-datepicker-title select {
    font-size: 1em;
    margin: .125em 0;
    vertical-align: middle;
}

.ui-datepicker select.ui-datepicker-month {
    width: 55%;
}

.ui-datepicker select.ui-datepicker-year {
    width: 35%;
}

.ui-datepicker select.ui-datepicker-month {
    margin-right: .25em;
}

.ui-datepicker span.ui-datepicker-year {
    margin-left: .25em;
}

.ui-datepicker table {
    width: 100%;
    font-size: .9em;
    border-collapse: collapse;
    margin: 0 0 .4em;
}

.ui-datepicker th {
    padding: .7em .3em;
    text-align: center;
    font-weight: bold;
    color: @bluegrey  !important;
    border: 0;
}

.ui-datepicker td {
    border: 0;
    padding: 0.25em !important;
    text-align: center;
    vertical-align: top;
    &:hover {
        background-color: @blue  !important;
        color: #FFF !important;
        a {
            color: #FFF !important;
        }
    }
}

.ui-datepicker td:first-child {
    border: 0;
    padding: 0.25em !important;
    text-align: center;
    vertical-align: top;
}

.ui-datepicker td span,
.ui-datepicker td a {
    display: block;
    padding: .2em;
    text-align: center;
    text-decoration: none;
}

.ui-datepicker .ui-datepicker-buttonpane {
    background-image: none;
    margin: .7em 0 0 0;
    padding: 0 .2em;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

.ui-datepicker .ui-datepicker-buttonpane button {
    float: right;
    margin: .5em .2em .4em;
    cursor: pointer;
    padding: .2em .6em .3em .6em;
    width: auto;
    overflow: visible;
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    float: left;
}

/* with multiple calendars */

.ui-datepicker.ui-datepicker-multi {
    width: auto;
}

.ui-datepicker-multi .ui-datepicker-group {
    float: left;
}

.ui-datepicker-multi .ui-datepicker-group table {
    width: 95%;
    margin: 0 auto .4em;
}

.ui-datepicker-multi-2 .ui-datepicker-group {
    width: 50%;
}

.ui-datepicker-multi-3 .ui-datepicker-group {
    width: 33.3%;
}

.ui-datepicker-multi-4 .ui-datepicker-group {
    width: 25%;
}

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
    border-left-width: 0;
}

.ui-datepicker-multi .ui-datepicker-buttonpane {
    clear: left;
}

.ui-datepicker-row-break {
    clear: both;
    width: 100%;
    font-size: 0;
}

.ui-datepicker .ui-datepicker-buttonbar {
    border-left: 0 none;
    border-right: 0 none;
    border-bottom: 0 none;
    padding: .2em;
}

.ui-datepicker .ui-datepicker-buttonbar>.ui-g>div:last-child {
    text-align: right;
}

.ui-datepicker .ui-datepicker-buttonbar>.ui-g>div {
    padding: 0;
}

.ui-calendar.ui-calendar-w-btn input {
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    -khtml-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -khtml-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.ui-timepicker {
    text-align: center;
    padding: .5em 0;
}

.ui-timepicker>div {
    display: inline-block;
    margin-left: .5em;
    min-width: 1.5em;
}

.ui-timepicker>.ui-minute-picker,
.ui-timepicker>.ui-second-picker {
    margin-left: 0;
}

.ui-timepicker>.ui-separator {
    margin-left: 0px;
    min-width: .75em;
}

.ui-timepicker>.ui-separator a {
    visibility: hidden;
}

.ui-timepicker>div a {
    display: block;
    opacity: 0.7;
    filter: Alpha(Opacity=70);
}

.ui-timepicker>div a:hover {
    display: block;
    opacity: 1;
    filter: Alpha(Opacity=100);
}

.ui-chkbox {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    margin-right: .25em;
    border: 1px solid #ccc;
}

.ui-chkbox .ui-chkbox-box {
    width: 16px;
    height: 16px;
    line-height: 16px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}

.ui-chkbox .ui-chkbox-icon {
    display: block;
}

.ui-chkbox-label {
    vertical-align: middle;
}

.ql-editor {
    height: 100px;
    border: 0px solid #ccc;
    border-radius: 4px;
    box-shadow: none;
    padding: 12px;
    font-size: 14px;
}

.ql-hidden {
    display: hidden;
    visibility: hidden;
}

.ui-chips>ul.ui-inputtext {
    clear: left;
    cursor: text;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0 .25em;
}

.ui-chips-token {
    cursor: default;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    border: 0 none;
    font-size: .9em;
}

.ui-chips-token .ui-chips-token-label {
    display: block;
    background-color: #efefef;
    margin-right: 7px;
    padding: 3px 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 4px;
}

.ui-chips>.ui-state-disabled .ui-chips-token-label {
    margin-right: 0;
}

.ui-chips-token .ui-chips-token-icon {
    margin-top: -.5em;
    position: absolute;
    right: 0.2em;
    top: 50%;
    cursor: pointer;
}

.ql-bold {
    border: 0px;
    color: #777;
}

.btn-editor {
    padding: 0px 10px;
}

.ql-bold {
    border: 0px;
    font-weight: bold;
    color: #777;
}

.ql-bold svg {
    width: 20px;
    color: #777;
}

.ql-italic {
    border: 0px;
    font-style: italic;
    color: #777;
}

.ql-italic svg {
    width: 20px;
    color: #777;
}

.ql-underline {
    border: 0px;
    font-style: italic;
    color: #777;
}

.ql-underline svg {
    width: 20px;
    color: #777;
}

.ql-underline,
.ql-bold {
    background-color: #FFF;
    padding: 8px 10px 5px 10px;
}

.ql-underline.ql-active,
.ql-bold.ql-active {
    background-color: #efefef;
}

.ui-editor-toolbar {
    border: 1px solid #aaa;
    border-bottom: 0px;
    padding-top: 0px;
    border-radius: 4px 4px 0px 0px;
}

.ui-chips-input-token {
    display: inline-block;
    vertical-align: middle;
    list-style-type: none;
    margin: 0 0 0 .125em;
    padding: .25em .25em .25em 0;
}

.ui-chips-input-token input {
    border: 0 none;
    width: 10em;
    outline: medium none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    box-shadow: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.ui-contextmenu {
    width: 12.5em;
    padding: .25em;
    position: absolute;
    display: none;
}

.ui-contextmenu .ui-menu-separator {
    border-width: 1px 0 0 0;
}

.ui-contextmenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ui-contextmenu .ui-submenu-list {
    display: none;
    position: absolute;
    width: 12.5em;
    padding: .25em;
}

.ui-contextmenu .ui-menuitem-link {
    padding: .25em;
    display: block;
    position: relative;
}

.ui-contextmenu .ui-menuitem-icon {
    margin-right: .25em;
}

.ui-contextmenu .ui-menuitem {
    position: relative;
}

.ui-contextmenu .ui-menuitem-link .ui-submenu-icon {
    position: absolute;
    margin-top: -.5em;
    right: 0;
    top: 50%;
}

.ui-contextmenu .ui-menuitem-active>.ui-submenu>.ui-submenu-list {
    display: block !important;
}

.ui-datagrid .ui-paginator {
    text-align: center;
}

.ui-datagrid-column {
    padding: .25em;
}

.ui-datagrid-content-empty {
    padding: .25em .625em;
}

.ui-datagrid .ui-datagrid-header,
.ui-datagrid .ui-datagrid-footer {
    text-align: center;
    padding: .5em .75em;
}

.ui-datagrid .ui-datagrid-header {
    border-bottom: 0 none;
}

.ui-datagrid .ui-datagrid-footer {
    border-top: 0 none;
}

.ui-datagrid .ui-paginator-top {
    border-bottom: 0 none;
}

.ui-datagrid .ui-paginator-bottom {
    border-top: 0 none;
}

.ui-datalist .ui-datalist-header,
.ui-datalist .ui-datalist-footer {
    text-align: center;
    padding: .5em .75em;
}

.ui-datalist .ui-datalist-header {
    border-bottom: 0 none;
}

.ui-datalist .ui-datalist-footer {
    border-top: 0 none;
}

.ui-datalist .ui-datalist-data {
    margin: 0;
    padding: 0;
}

.ui-datalist .ui-datalist-data>li {
    list-style-type: none;
}

.ui-datalist .ui-datalist-emptymessage {
    padding: .5em .75em;
}

.ui-datalist.ui-datalist-scrollable .ui-datalist-content {
    overflow: auto;
}

.ui-datalist .ui-paginator-top {
    border-bottom: 0 none;
}

.ui-datalist .ui-paginator-bottom {
    border-top: 0 none;
}

.ui-colorpicker {
    display: inline-block;
}

.ui-colorpicker-dragging {
    cursor: pointer;
}

.ui-colorpicker-overlay {
    position: relative;
}

.ui-colorpicker-panel {
    position: relative;
    width: 193px;
    height: 166px;
    background-color: #323232;
    border-color: #191919;
}

.ui-colorpicker-overlay-panel {
    display: none;
    position: absolute;
}

.ui-colorpicker-preview {
    width: 2em;
    cursor: pointer;
}

.ui-colorpicker-panel .ui-colorpicker-content {
    position: relative;
}

.ui-colorpicker-panel .ui-colorpicker-color-selector {
    width: 150px;
    height: 150px;
    top: 8px;
    left: 8px;
    position: absolute;
}

.ui-colorpicker-panel .ui-colorpicker-color {
    width: 150px;
    height: 150px;
}

.ui-colorpicker-panel .ui-colorpicker-color-handle {
    position: absolute;
    top: 0px;
    left: 150px;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    border: 1px solid #ffffff;
    margin: -5px 0 0 -5px;
    cursor: pointer;
}

.ui-colorpicker-panel .ui-colorpicker-hue {
    width: 17px;
    height: 150px;
    top: 8px;
    left: 167px;
    position: absolute;
    opacity: .85;
}

.ui-colorpicker-panel .ui-colorpicker-hue-handle {
    position: absolute;
    top: 150px;
    left: 0px;
    width: 21px;
    margin-left: -2px;
    margin-top: -5px;
    height: 10px;
    border: 2px solid #ffffff;
    opacity: .85;
    cursor: pointer;
}

.ui-colorpicker-panel.ui-state-disabled .ui-colorpicker-hue-handle,
.ui-colorpicker-panel.ui-state-disabled .ui-colorpicker-color-handle {
    opacity: .5;
}

.ui-datascroller {}

.ui-datascroller .ui-datascroller-header {
    text-align: center;
    padding: .5em .75em;
    border-bottom: 0 none;
}

.ui-datascroller .ui-datascroller-footer {
    text-align: center;
    padding: .25em .625em;
    border-top: 0px none;
}

.ui-datascroller .ui-datascroller-content {
    padding: .25em .625em;
}

.ui-datascroller-inline .ui-datascroller-content {
    overflow: auto;
}

.ui-datascroller .ui-datascroller-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.ui-dataview {
    position: relative;
}

.ui-dataview .ui-paginator {
    text-align: center;
}

.ui-dataview-column {
    padding: .25em;
}

.ui-dataview-content-empty {
    padding: .25em .625em;
}

.ui-dataview .ui-dataview-header,
.ui-dataview .ui-dataview-footer {
    padding: .5em .75em;
}

.ui-dataview .ui-dataview-header {
    border-bottom: 0 none;
}

.ui-dataview .ui-dataview-footer {
    border-top: 0 none;
}

.ui-dataview .ui-paginator-top {
    border-bottom: 0 none;
}

.ui-dataview .ui-paginator-bottom {
    border-top: 0 none;
}

.ui-dataview.ui-dataview-list>.ui-dataview-content>div.ui-g>div {
    width: 100%;
}

/* Loader */

.ui-dataview-loading {
    position: absolute;
    width: 100%;
    height: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    opacity: 0.1;
    z-index: 1;
}

.ui-dataview-loading-content {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    margin-top: -1em;
    margin-left: -1em;
}

.ui-dataview-loading-icon {
    font-size: 2em;
}

.ui-dialog {
    position: fixed;
    padding: 0;
    background-color: #FFF;
}

.ui-dialog .ui-dialog-titlebar {
    padding: .5em .75em;
    position: relative;
    border: 0;
}

.ui-dialog .ui-dialog-content {
    position: relative;
    border: 0;
    padding: .5em .75em;
    background: none;
    overflow: auto;
    zoom: 1;
}

.ui-dialog .ui-resizable-se {
    width: 14px;
    height: 14px;
    right: 3px;
    bottom: 3px;
}

.ui-draggable .ui-dialog-titlebar {
    cursor: move;
}

.ui-dialog .ui-dialog-titlebar-icon {
    text-decoration: none;
    float: right;
    float: right;
    padding: .125em;
    cursor: pointer;
    border: 1px solid transparent;
}

.ui-dialog .ui-dialog-titlebar-icon span {
    display: block;
    margin: 0;
    font-size: 1.25em;
}

.ui-dialog-footer {
    padding: 1em;
    border-width: 1px 0 0 0;
    text-align: right;
}

.ui-dialog-mask {
    position: fixed;
    width: 100%;
    height: 100%;
}

.ui-dialog-maximized {
    -webkit-transition: left .3s, top .3s, width .3s, height .3s;
    transition: left .3s, top .3s, width .3s, height .3s;
}

/* ConfirmDialog */

.ui-confirmdialog {
    width: 30em;
}

.ui-confirmdialog.ui-dialog .ui-dialog-content {
    padding: 1em 2em;
}

.ui-confirmdialog .ui-dialog-content .ui-confirmdialog-icon {
    font-size: 1.5em;
    vertical-align: middle;
    margin-right: .5em;
}

.ui-confirmdialog .ui-dialog-content .ui-confirmdialog-message {
    vertical-align: middle;
}

.ui-dialog-footer .ui-button {
    margin-right: .25em;
}

/* Fluid */

.ui-fluid .ui-dialog-footer .ui-button {
    width: auto;
}

/* RTL */

.ui-rtl .ui-dialog .ui-dialog-titlebar-close {
    float: left;
}

.ui-rtl .ui-dialog .ui-dialog-buttonpane button {
    text-align: right;
}

@media screen and (max-width: 40em) {
    .ui-confirmdialog {
        width: 90%;
    }
}

.ui-dropdown {
    display: inline-block;
    position: relative;
    cursor: pointer;
    vertical-align: middle;
    .ng-trigger {
        z-index: 1005;
        top: 271px;
        left: 0px;
        transform: translateY(0px);
        opacity: 1;
        position: absolute;
        top: 34px;
    }
}

.ui-dropdown .ui-dropdown-clear-icon {
    position: absolute;
    right: 2em;
    top: 50%;
    font-size: .75em;
    height: 1em;
    margin-top: -.5em;
    right: 2.5em;
}

.ui-dropdown .ui-dropdown-trigger {
    border-right: none;
    border-top: none;
    border-bottom: none;
    cursor: pointer;
    width: 1.5em;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 20px 0px 15px;
    position: absolute;
}

.ui-dropdown .ui-dropdown-trigger .ui-dropdown-trigger-icon {
    top: 18px;
    left: 50%;
    margin-top: -.5em;
    margin-left: -.5em;
    color: #ccc;
    position: absolute;
}

.ui-dropdown .ui-dropdown-label {
    display: block;
    border: none;
    white-space: nowrap;
    overflow: hidden;
    font-weight: normal;
    width: 100%;
    padding-right: 2.5em;
}

.ui-dropdown-item-empty,
.ui-dropdown-label-empty {
    text-indent: -9999px;
    overflow: hidden;
}

.ui-dropdown.ui-state-disabled .ui-dropdown-trigger,
.ui-dropdown.ui-state-disabled .ui-dropdown-label {
    cursor: default;
}

.ui-dropdown label.ui-dropdown-label {
    cursor: pointer;
    color: #58666e;
    border: 1px solid #cfdadd;
    padding: 6px 12px;
    width: 100%;
    border-radius: 4px;
    background-color: #FFF;
}

.ui-dropdown input.ui-dropdown-label {
    cursor: default;
}

.ui-dropdown .ui-dropdown-panel {
    min-width: 100%;
    background-color: #FFF;
}

.ui-dropdown-panel .ui-dropdown-items-wrapper {
    overflow: auto;
    background-color: #FFF;
}

.ui-dropdown-panel .ui-dropdown-item {
    font-weight: normal;
    border: 0 none;
    cursor: pointer;
    margin: 1px 0;
    padding: .225em .25em;
    text-align: left;
}

.ui-dropdown-panel .ui-dropdown-item:hover {
    background-color: #efefef;
}

.ui-dropdown-panel .ui-dropdown-item-group {
    font-weight: bold;
    cursor: default;
}

.ui-dropdown-panel .ui-dropdown-list {
    padding: 0.4em;
    border: 0 none;
}

.ui-dropdown-panel .ui-dropdown-filter {
    width: 100%;
    box-sizing: border-box;
    padding-right: 1.5em;
}

.ui-dropdown-panel .ui-dropdown-filter-container {
    position: relative;
    margin: 0;
    padding: 0.4em;
    display: inline-block;
    width: 100%;
}

.ui-dropdown-panel .ui-dropdown-filter-container .ui-dropdown-filter-icon {
    position: absolute;
    top: .8em;
    right: 1em;
}

/** Dropdown **/

.ui-fluid .ui-dropdown {
    width: 100%;
}

.ui-fieldset,
.ui-fieldset .ui-fieldset-legend {
    padding: 0.5em 1em;
}

.ui-fieldset-toggleable .ui-fieldset-legend {
    padding: 0;
}

.ui-fieldset-toggleable .ui-fieldset-legend a {
    padding: 0.5em 1em;
    cursor: pointer;
    white-space: nowrap;
    display: block;
}

.ui-fieldset .ui-fieldset-toggler {
    margin-right: .1em;
    display: inline-block;
    vertical-align: middle;
}

.ui-fieldset .ui-fieldset-legend-text {
    vertical-align: middle;
}

.ui-fieldset .ui-fieldset-content-wrapper-overflown {
    overflow: hidden;
}

/*
* FileUpload
*/

.ui-fileupload-buttonbar .ui-fileupload-choose.ui-state-disabled input {
    cursor: default;
}

.ui-fileupload-buttonbar {
    padding: .5em;
    border-bottom: 0 none;
}

.ui-fileupload-buttonbar .ui-button {
    vertical-align: middle;
    margin-right: .25em;
}

.ui-fileupload-content {
    padding: 1em;
    position: relative;
    transition: border-color .3s;
}

.ui-fileupload-content.ui-fileupload-highlight {
    border-color: #156090;
}

.ui-fileupload-files img {
    border: none;
}

.ui-fileupload-files {
    display: table;
}

.ui-fileupload-row {
    display: table-row;
}

.ui-fileupload-row>div {
    display: table-cell;
    padding: .5em 1em;
    vertical-align: middle;
}

.ui-fileupload-content .ui-progressbar {
    width: 100%;
    position: absolute;
    top: 1px;
    left: 0;
    height: .25em;
    border: 0 none;
}

.ui-fileupload-content .ui-progressbar-value {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: 0 none;
}

/* Simple */

.ui-fileupload-choose {
    position: relative;
    overflow: hidden;
}

.upload-box {
    background-color: #efefef;
    outline: 2px dashed #92b0b3;
    border-radius: 4px !important;
    .pi {
        display: none;
        visibility: hidden;
    }
}

.ui-fileupload-choose {
    width: 100%;
    height: 100px;
    line-height: 100px;
    border-radius: 4px !important;
}

.ui-fileupload-choose input[type=file] {
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    font-size: 1.25rem;
    background-color: #c8dadf;
    position: absolute;
    opacity: 0;
    min-height: 100%;
    width: 100%;
    text-align: center;
    line-height: 100px;
    filter: alpha(opacity=0);
    direction: ltr;
    cursor: pointer;
    top: 0px;
}

.ui-fileupload-choose .ui-button-text {
    padding: 10px;
    background-color: #92b0b3;
    color: #FFF;
    border-radius: 4px !important;
    display: inline;
}

.ui-fileupload-choose.ui-fileupload-choose-selected input[type=file] {
    display: none;
}

/* ui-fluid */

.ui-fluid .ui-fileupload .ui-button {
    width: auto;
}

.ui-fluid .ui-fileupload-content .ui-button-icon-only {
    width: 2em;
}

@media (max-width: 40em) {
    .ui-fileupload-buttonbar .ui-button {
        display: block;
        width: 100%;
        margin-right: 0;
        margin-bottom: .25em;
    }
    .ui-fileupload-buttonbar .ui-button:last-child {
        margin-bottom: 0;
    }
    .ui-fileupload-row>div {
        display: block;
    }
}

.ui-galleria {
    overflow: hidden;
    visibility: hidden;
    position: relative;
}

.ui-galleria-panel-wrapper {
    position: relative;
    padding: 0;
    margin: 0;
}

.ui-galleria-panel {
    filter: inherit;
    position: absolute;
    top: 0;
    left: 0;
    list-style-type: none;
}

.ui-galleria-filmstrip-wrapper {
    overflow: hidden;
    margin: .25em auto;
    position: relative;
}

.ui-galleria-filmstrip {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 2340px;
    z-index: 900;
    position: absolute;
    top: 0;
    left: 0;
}

.ui-galleria-frame {
    float: left;
    margin-right: 5px;
    opacity: 0.3;
    cursor: pointer;
}

.ui-galleria-frame-active {
    opacity: 1;
}

.ui-galleria-frame-content {
    overflow: hidden;
}

.ui-galleria-nav-next,
.ui-galleria-nav-prev {
    cursor: pointer;
    position: absolute;
    z-index: 910;
}

.ui-galleria-nav-prev {
    left: 4px;
}

.ui-galleria-nav-next {
    right: 4px;
}

.ui-galleria-caption {
    position: absolute;
    left: 1px;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    color: #ededed;
    padding: 0.2em 1em;
}

.ui-galleria-caption h4 {
    color: #ededed;
}

.ui-galleria-panel-content {
    padding: 1em 1.4em;
}

/* Deprecated Grid CSS */

.ui-grid {
    clear: both;
    padding: 0;
    margin: 0;
}

.ui-grid::before,
.ui-grid::after {
    content: "";
    display: table;
}

.ui-grid::after {
    clear: both;
}

.ui-grid .ui-grid-row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    clear: both;
}

.ui-grid-row::after {
    clear: both;
    content: "";
    display: table;
}

.ui-grid-col-1,
.ui-grid-col-2,
.ui-grid-col-3,
.ui-grid-col-4,
.ui-grid-col-5,
.ui-grid-col-6,
.ui-grid-col-7,
.ui-grid-col-8,
.ui-grid-col-9,
.ui-grid-col-10,
.ui-grid-col-11,
.ui-grid-col-12 {
    float: left;
    box-sizing: border-box;
}

.ui-grid-col-1 {
    width: 8.33333%;
}

.ui-grid-col-2 {
    width: 16.66666%;
}

.ui-grid-col-3 {
    width: 25%;
}

.ui-grid-col-4 {
    width: 33.33333%;
}

.ui-grid-col-5 {
    width: 41.66666%;
}

.ui-grid-col-6 {
    width: 50%;
}

.ui-grid-col-7 {
    width: 58.33333%;
}

.ui-grid-col-8 {
    width: 66.66666%;
}

.ui-grid-col-9 {
    width: 75%;
}

.ui-grid-col-10 {
    width: 83.33333%;
}

.ui-grid-col-11 {
    width: 91.66666%;
}

.ui-grid-col-12 {
    width: 100%;
}

@media (min-width: 480px) {
    .ui-grid-fixed {
        width: 480px;
    }
}

@media (min-width: 768px) {
    .ui-grid-fixed {
        width: 768px;
    }
}

@media (min-width: 960px) {
    .ui-grid-fixed {
        width: 960px;
    }
}

@media (min-width: 1024px) {
    .ui-grid-fixed {
        width: 1024px;
    }
}

/* Responsive */

@media (max-width: 640px) {
    .ui-grid-responsive .ui-grid-row {
        display: block;
    }
    .ui-grid-responsive .ui-grid-col-1,
    .ui-grid-responsive .ui-grid-col-2,
    .ui-grid-responsive .ui-grid-col-3,
    .ui-grid-responsive .ui-grid-col-4,
    .ui-grid-responsive .ui-grid-col-5,
    .ui-grid-responsive .ui-grid-col-6,
    .ui-grid-responsive .ui-grid-col-7,
    .ui-grid-responsive .ui-grid-col-8,
    .ui-grid-responsive .ui-grid-col-9,
    .ui-grid-responsive .ui-grid-col-10,
    .ui-grid-responsive .ui-grid-col-11,
    .ui-grid-responsive .ui-grid-col-12 {
        width: 100%;
        float: none;
    }
}

.ui-grid.ui-grid-pad>.ui-grid-row>div {
    padding: .25em .5em;
}

/* Responsive */

@media (max-width: 640px) {
    .ui-grid-responsive .ui-grid-row {
        display: block;
    }
    .ui-grid-responsive .ui-grid-col-1,
    .ui-grid-responsive .ui-grid-col-2,
    .ui-grid-responsive .ui-grid-col-3,
    .ui-grid-responsive .ui-grid-col-4,
    .ui-grid-responsive .ui-grid-col-5,
    .ui-grid-responsive .ui-grid-col-6,
    .ui-grid-responsive .ui-grid-col-7,
    .ui-grid-responsive .ui-grid-col-8,
    .ui-grid-responsive .ui-grid-col-9,
    .ui-grid-responsive .ui-grid-col-10,
    .ui-grid-responsive .ui-grid-col-11,
    .ui-grid-responsive .ui-grid-col-12 {
        width: 100%;
        float: none;
    }
}

/* New Grid CSS */

.ui-g {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.ui-g::after {
    clear: both;
    content: "";
    display: table;
    box-sizing: border-box;
}

.ui-g-1,
.ui-g-2,
.ui-g-3,
.ui-g-4,
.ui-g-5,
.ui-g-6,
.ui-g-7,
.ui-g-8,
.ui-g-9,
.ui-g-10,
.ui-g-11,
.ui-g-12 {
    float: left;
    box-sizing: border-box;
    padding: 0.5em;
}

.ui-g-1 {
    width: 8.3333%;
}

.ui-g-2 {
    width: 16.6667%;
}

.ui-g-3 {
    width: 25%;
}

.ui-g-4 {
    width: 33.3333%;
}

.ui-g-5 {
    width: 41.6667%;
}

.ui-g-6 {
    width: 50%;
}

.ui-g-7 {
    width: 58.3333%;
}

.ui-g-8 {
    width: 66.6667%;
}

.ui-g-9 {
    width: 75%;
}

.ui-g-10 {
    width: 83.3333%;
}

.ui-g-11 {
    width: 91.6667%;
}

.ui-g-12 {
    width: 100%;
}

.ui-g-offset-12 {
    margin-left: 100%;
}

.ui-g-offset-11 {
    margin-left: 91.66666667%;
}

.ui-g-offset-10 {
    margin-left: 83.33333333%;
}

.ui-g-offset-9 {
    margin-left: 75%;
}

.ui-g-offset-8 {
    margin-left: 66.66666667%;
}

.ui-g-offset-7 {
    margin-left: 58.33333333%;
}

.ui-g-offset-6 {
    margin-left: 50%;
}

.ui-g-offset-5 {
    margin-left: 41.66666667%;
}

.ui-g-offset-4 {
    margin-left: 33.33333333%;
}

.ui-g-offset-3 {
    margin-left: 25%;
}

.ui-g-offset-2 {
    margin-left: 16.66666667%;
}

.ui-g-offset-1 {
    margin-left: 8.33333333%;
}

.ui-g-offset-0 {
    margin-left: 0%;
}

@media screen and (max-width: 40em) {
    .ui-sm-1,
    .ui-sm-2,
    .ui-sm-3,
    .ui-sm-4,
    .ui-sm-5,
    .ui-sm-6,
    .ui-sm-7,
    .ui-sm-8,
    .ui-sm-9,
    .ui-sm-10,
    .ui-sm-11,
    .ui-sm-12 {
        padding: 0.5em;
    }
    .ui-sm-1 {
        width: 8.3333%;
    }
    .ui-sm-2 {
        width: 16.6667%;
    }
    .ui-sm-3 {
        width: 25%;
    }
    .ui-sm-4 {
        width: 33.3333%;
    }
    .ui-sm-5 {
        width: 41.6667%;
    }
    .ui-sm-6 {
        width: 50%;
    }
    .ui-sm-7 {
        width: 58.3333%;
    }
    .ui-sm-8 {
        width: 66.6667%;
    }
    .ui-sm-9 {
        width: 75%;
    }
    .ui-sm-10 {
        width: 83.3333%;
    }
    .ui-sm-11 {
        width: 91.6667%;
    }
    .ui-sm-12 {
        width: 100%;
    }
    .ui-sm-offset-12 {
        margin-left: 100%;
    }
    .ui-sm-offset-11 {
        margin-left: 91.66666667%;
    }
    .ui-sm-offset-10 {
        margin-left: 83.33333333%;
    }
    .ui-sm-offset-9 {
        margin-left: 75%;
    }
    .ui-sm-offset-8 {
        margin-left: 66.66666667%;
    }
    .ui-sm-offset-7 {
        margin-left: 58.33333333%;
    }
    .ui-sm-offset-6 {
        margin-left: 50%;
    }
    .ui-sm-offset-5 {
        margin-left: 41.66666667%;
    }
    .ui-sm-offset-4 {
        margin-left: 33.33333333%;
    }
    .ui-sm-offset-3 {
        margin-left: 25%;
    }
    .ui-sm-offset-2 {
        margin-left: 16.66666667%;
    }
    .ui-sm-offset-1 {
        margin-left: 8.33333333%;
    }
    .ui-sm-offset-0 {
        margin-left: 0%;
    }
}

@media screen and (min-width: 40.063em) {
    .ui-md-1,
    .ui-md-2,
    .ui-md-3,
    .ui-md-4,
    .ui-md-5,
    .ui-md-6,
    .ui-md-7,
    .ui-md-8,
    .ui-md-9,
    .ui-md-10,
    .ui-md-11,
    .ui-md-12 {
        padding: 0.5em;
    }
    .ui-md-1 {
        width: 8.3333%;
    }
    .ui-md-2 {
        width: 16.6667%;
    }
    .ui-md-3 {
        width: 25%;
    }
    .ui-md-4 {
        width: 33.3333%;
    }
    .ui-md-5 {
        width: 41.6667%;
    }
    .ui-md-6 {
        width: 50%;
    }
    .ui-md-7 {
        width: 58.3333%;
    }
    .ui-md-8 {
        width: 66.6667%;
    }
    .ui-md-9 {
        width: 75%;
    }
    .ui-md-10 {
        width: 83.3333%;
    }
    .ui-md-11 {
        width: 91.6667%;
    }
    .ui-md-12 {
        width: 100%;
    }
    .ui-md-offset-12 {
        margin-left: 100%;
    }
    .ui-md-offset-11 {
        margin-left: 91.66666667%;
    }
    .ui-md-offset-10 {
        margin-left: 83.33333333%;
    }
    .ui-md-offset-9 {
        margin-left: 75%;
    }
    .ui-md-offset-8 {
        margin-left: 66.66666667%;
    }
    .ui-md-offset-7 {
        margin-left: 58.33333333%;
    }
    .ui-md-offset-6 {
        margin-left: 50%;
    }
    .ui-md-offset-5 {
        margin-left: 41.66666667%;
    }
    .ui-md-offset-4 {
        margin-left: 33.33333333%;
    }
    .ui-md-offset-3 {
        margin-left: 25%;
    }
    .ui-md-offset-2 {
        margin-left: 16.66666667%;
    }
    .ui-md-offset-1 {
        margin-left: 8.33333333%;
    }
    .ui-md-offset-0 {
        margin-left: 0%;
    }
}

@media screen and (min-width: 64.063em) {
    .ui-lg-1,
    .ui-lg-2,
    .ui-lg-3,
    .ui-lg-4,
    .ui-lg-5,
    .ui-lg-6,
    .ui-lg-7,
    .ui-lg-8,
    .ui-lg-9,
    .ui-lg-10,
    .ui-lg-11,
    .ui-lg-12 {
        padding: 0.5em;
    }
    .ui-lg-1 {
        width: 8.3333%;
    }
    .ui-lg-2 {
        width: 16.6667%;
    }
    .ui-lg-3 {
        width: 25%;
    }
    .ui-lg-4 {
        width: 33.3333%;
    }
    .ui-lg-5 {
        width: 41.6667%;
    }
    .ui-lg-6 {
        width: 50%;
    }
    .ui-lg-7 {
        width: 58.3333%;
    }
    .ui-lg-8 {
        width: 66.6667%;
    }
    .ui-lg-9 {
        width: 75%;
    }
    .ui-lg-10 {
        width: 83.3333%;
    }
    .ui-lg-11 {
        width: 91.6667%;
    }
    .ui-lg-12 {
        width: 100%;
    }
    .ui-lg-offset-12 {
        margin-left: 100%;
    }
    .ui-lg-offset-11 {
        margin-left: 91.66666667%;
    }
    .ui-lg-offset-10 {
        margin-left: 83.33333333%;
    }
    .ui-lg-offset-9 {
        margin-left: 75%;
    }
    .ui-lg-offset-8 {
        margin-left: 66.66666667%;
    }
    .ui-lg-offset-7 {
        margin-left: 58.33333333%;
    }
    .ui-lg-offset-6 {
        margin-left: 50%;
    }
    .ui-lg-offset-5 {
        margin-left: 41.66666667%;
    }
    .ui-lg-offset-4 {
        margin-left: 33.33333333%;
    }
    .ui-lg-offset-3 {
        margin-left: 25%;
    }
    .ui-lg-offset-2 {
        margin-left: 16.66666667%;
    }
    .ui-lg-offset-1 {
        margin-left: 8.33333333%;
    }
    .ui-lg-offset-0 {
        margin-left: 0%;
    }
}

@media screen and (min-width: 90.063em) {
    .ui-xl-1,
    .ui-xl-2,
    .ui-xl-3,
    .ui-xl-4,
    .ui-xl-5,
    .ui-xl-6,
    .ui-xl-7,
    .ui-xl-8,
    .ui-xl-9,
    .ui-xl-10,
    .ui-xl-11,
    .ui-xl-12 {
        padding: 0.5em;
    }
    .ui-xl-1 {
        width: 8.3333%;
    }
    .ui-xl-2 {
        width: 16.6667%;
    }
    .ui-xl-3 {
        width: 25%;
    }
    .ui-xl-4 {
        width: 33.3333%;
    }
    .ui-xl-5 {
        width: 41.6667%;
    }
    .ui-xl-6 {
        width: 50%;
    }
    .ui-xl-7 {
        width: 58.3333%;
    }
    .ui-xl-8 {
        width: 66.6667%;
    }
    .ui-xl-9 {
        width: 75%;
    }
    .ui-xl-10 {
        width: 83.3333%;
    }
    .ui-xl-11 {
        width: 91.6667%;
    }
    .ui-xl-12 {
        width: 100%;
    }
    .ui-xl-offset-12 {
        margin-left: 100%;
    }
    .ui-xl-offset-11 {
        margin-left: 91.66666667%;
    }
    .ui-xl-offset-10 {
        margin-left: 83.33333333%;
    }
    .ui-xl-offset-9 {
        margin-left: 75%;
    }
    .ui-xl-offset-8 {
        margin-left: 66.66666667%;
    }
    .ui-xl-offset-7 {
        margin-left: 58.33333333%;
    }
    .ui-xl-offset-6 {
        margin-left: 50%;
    }
    .ui-xl-offset-5 {
        margin-left: 41.66666667%;
    }
    .ui-xl-offset-4 {
        margin-left: 33.33333333%;
    }
    .ui-xl-offset-3 {
        margin-left: 25%;
    }
    .ui-xl-offset-2 {
        margin-left: 16.66666667%;
    }
    .ui-xl-offset-1 {
        margin-left: 8.33333333%;
    }
    .ui-xl-offset-0 {
        margin-left: 0%;
    }
}

.ui-g-nopad {
    padding: 0;
}

.ui-growl {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 20em;
}

.ui-growl-item-container {
    position: relative;
    margin: 0 0 10px 0;
    opacity: 0.95;
    filter: alpha(opacity=95);
}

.ui-growl-item {
    position: relative;
    display: block;
    padding: .5em 1em;
}

.ui-growl-item p {
    padding: 0;
    margin: 0;
}

.ui-growl-icon-close {
    position: absolute;
    top: 4px;
    right: 4px;
    cursor: pointer;
}

.ui-growl-title {
    font-weight: bold;
    padding: 0 0 .5em 0;
    display: block;
}

.ui-growl-image {
    position: absolute;
    display: inline-block;
    left: .5em;
    top: .25em;
    padding: 0;
    font-size: 2em;
}

.ui-growl-message {
    padding: 0 0 .25em 0;
    margin-left: 2.5em;
}

.ui-growl-message p {
    font-weight: normal;
}

.ui-inplace .ui-inplace-display {
    display: inline;
    cursor: pointer;
    border: 0 none;
    padding: .25em;
    font-weight: normal;
}

.ui-inplace .ui-inplace-content {
    display: inline;
}

.ui-inputswitch {
    display: inline-block;
    padding: 0;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    height: 1.5em;
}

.ui-inputswitch .ui-inputswitch-on,
.ui-inputswitch .ui-inputswitch-off {
    white-space: nowrap;
    display: inline-block;
    position: absolute;
    top: 0;
    width: auto;
    overflow: hidden;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    font-weight: bold;
    height: 100%;
    line-height: 1.5em;
}

.ui-inputswitch .ui-inputswitch-on {
    left: 0;
    border: 0 none;
}

.ui-inputswitch .ui-inputswitch-off {
    right: 0;
    text-align: right;
}

.ui-inputswitch .ui-inputswitch-on span,
.ui-inputswitch .ui-inputswitch-off span {
    display: inline-block;
    text-align: center;
    height: 100%;
    line-height: inherit;
}

.ui-inputswitch .ui-inputswitch-handle {
    display: block;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-top: 0 none;
    border-bottom: 0 none;
}

.ui-inputtext, textarea {
    margin: 0;
    outline: medium none;
    font-weight: normal;
    padding: 10px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #cfdadd;
}

.ui-widget-header .ui-inputtext,
.ui-widget-content .ui-inputtext {
    font-weight: normal;
}

.ui-fluid .ui-inputtext {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.ui-inputgroup {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.ui-inputgroup .ui-inputgroup-addon {
    display: inline-block;
    text-align: center;
    border-width: 1px;
    background-color: #FFF;
    border-style: solid;
    border-color: #ccc;
    border-radius: 4px 0px 0px 4px;
    height: 34px;
    line-height: 31px;
    width: 34px;
}

.ui-inputgroup .ui-inputgroup-addon+.ui-inputgroup-addon {
    border-left: 0 none;
}

.ui-inputgroup .ui-inputtext {
    padding-left: .5em;
}

.ui-inputgroup .ui-inputtext:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0 none;
}

.ui-inputgroup .ui-inputtext:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0 none;
}

.ui-inputgroup .ui-button {
    margin-right: 0;
    border-radius: 0;
}

.ui-fluid .ui-inputgroup .ui-button {
    width: auto;
}

.ui-fluid .ui-inputgroup .ui-inputtext {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.ui-inputgroup .ui-chkbox,
.ui-inputgroup .ui-radiobutton {
    margin-right: 0;
    vertical-align: bottom;
}

/* Floating Label */

.ui-float-label {
    display: block;
    position: relative;
}

.ui-float-label>label {
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: .25em;
    top: 50%;
    margin-top: -.5em;
    transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    -webkit-transition: 0.3s ease all;
    color: #898989;
    line-height: 1;
}

/* breaks firefox so defined separately */

.ui-float-label>input:-webkit-autofill~label {
    top: -.75em;
    font-size: 12px;
}

.ui-float-label>input:focus~label,
.ui-float-label>input.ui-state-filled~label,
.ui-float-label>.ui-inputwrapper-focus~label,
.ui-float-label>.ui-inputwrapper-filled~label {
    top: -.75em;
    font-size: 12px;
}

.ui-inputtextarea-resizable {
    overflow: hidden;
    resize: none;
}

.ui-fluid .ui-inputtextarea {
    width: 100%;
}

.ui-float-label textarea:focus~label,
.ui-float-label textarea.ui-state-filled~label,
.ui-float-label textarea:-webkit-autofill~label {
    top: -.75em;
    font-size: 12px;
}

.ui-lightbox {
    position: fixed;
    display: none;
}

.ui-lightbox-content-wrapper {
    position: relative;
}

.ui-lightbox-content {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

.ui-lightbox-nav-right,
.ui-lightbox-nav-left {
    position: absolute;
    top: 50%;
    cursor: pointer;
}

.ui-lightbox-nav-left {
    left: 0;
}

.ui-lightbox-nav-right {
    right: 0;
}

.ui-lightbox-loading .ui-lightbox-content {}

.ui-lightbox-caption {
    padding: 0.2em 0.4em;
    display: none;
}

.ui-lightbox-caption-text {
    margin: 0.3em 0 0.1em 0;
    float: left;
}

.ui-lightbox-close {
    float: right;
    margin: 0;
    padding: .125em;
}

.ui-lightbox-close.ui-state-hover {
    padding: 0;
}

.ui-lightbox-nav-left,
.ui-lightbox-nav-right {
    opacity: .5;
}

.ui-lightbox-nav-left:hover,
.ui-lightbox-nav-right:hover {
    opacity: 1;
}

.ui-megamenu {
    padding: .25em;
}

.ui-megamenu-root-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.ui-megamenu-root-list>.ui-menuitem {
    position: relative;
}

.ui-megamenu .ui-menuitem-link {
    padding: .25em;
    display: block;
    text-decoration: none;
}

.ui-megamenu .ui-menuitem-icon {
    margin-right: .25em;
}

.ui-megamenu-panel {
    display: none;
    position: absolute;
    width: auto;
}

.ui-megamenu-root-list>.ui-menuitem-active>.ui-megamenu-panel {
    display: block;
}

.ui-megamenu-panel .ui-menuitem {
    margin: .125em 0;
}

.ui-megamenu-submenu {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 12.5em;
}

.ui-megamenu-submenu-header {
    padding: .25em;
}

/* Horizontal */

.ui-megamenu-horizontal .ui-megamenu-root-list>.ui-menuitem {
    display: inline-block;
}

/* Vertical */

.ui-megamenu-vertical {
    width: 12.5em;
}

.ui-megamenu-vertical .ui-megamenu-root-list>.ui-menuitem {
    display: block;
}

.ui-megamenu-vertical .ui-megamenu-root-list>.ui-menuitem>.ui-menuitem-link {
    position: relative;
}

.ui-megamenu-vertical .ui-megamenu-root-list>.ui-menuitem>.ui-menuitem-link>.ui-submenu-icon {
    position: absolute;
    width: 1em;
    height: 1em;
    top: 50%;
    right: 0;
    margin-top: -.5em;
}

.ui-megamenu .ui-g {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.ui-menu {
    width: 12.5em;
    padding: .25em;
}

.ui-menu.ui-menu-dynamic {
    position: absolute;
    display: none;
}

.ui-menu .ui-menu-separator {
    border-width: 1px 0 0 0;
}

.ui-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ui-menu .ui-submenu-header {
    padding: .25em .5em;
    margin: .125em 0;
}

.ui-menu .ui-menuitem {
    margin: .125em 0;
}

.ui-menu .ui-menuitem-link {
    padding: .25em;
    display: block;
    text-decoration: none;
}

.ui-menu .ui-menuitem-icon {
    margin-right: .25em;
}

.ui-menubar {
    padding: .25em;
}

.ui-menubar .ui-menu-separator {
    border-width: 1px 0 0 0;
}

.ui-menubar:after {
    content: "";
    clear: both;
    display: table;
}

.ui-menubar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.ui-menubar .ui-menuitem-link {
    display: block;
    padding: .25em;
    position: relative;
    text-decoration: none;
}

.ui-menubar .ui-menuitem-icon {
    margin-right: .25em;
}

.ui-menubar .ui-menubar-root-list {
    display: inline-block;
}

.ui-menubar .ui-menubar-root-list>.ui-menuitem {
    display: inline-block;
    position: relative;
}

.ui-menubar .ui-menubar-root-list>.ui-menuitem>.ui-menuitem-link {
    padding: .5em;
}

.ui-menubar .ui-menubar-root-list>li ul {
    display: none;
}

.ui-menubar .ui-submenu-list {
    display: none;
    position: absolute;
    min-width: 12.5em;
    padding: .25em;
}

.ui-menubar .ui-submenu-list .ui-menuitem {
    margin: .125em 0;
    position: relative;
}

.ui-menubar .ui-submenu-list .ui-menuitem-link .ui-submenu-icon {
    position: absolute;
    margin-top: -.5em;
    right: 0;
    top: 50%;
}

.ui-menubar .ui-menuitem-active>.ui-submenu>.ui-submenu-list {
    display: block;
}

.ui-menubar .ui-menubar-custom {
    float: right;
    padding: .25em;
}

.ui-messages {
    border: 1px solid;
    margin: .5em 0;
    padding: 1em 1em 1em .5em;
    display: none;
    position: relative;
}

.ui-messages-icon {
    display: inline-block;
    padding: 0;
    vertical-align: middle;
    font-size: 2em;
}

.ui-messages-summary {
    font-weight: bold;
    margin-left: .25em;
}

.ui-messages-detail {
    margin-left: .25em;
}

.ui-messages-success {
    color: #2C832f;
    background-color: #B4F0B6;
    border-color: #B4F0B6;
}

.ui-messages-success .ui-messages-close {
    color: #2C832f;
}

.ui-messages-info {
    color: #1765A3;
    background-color: #BFE0FA;
    border-color: #BFE0FA;
}

.ui-messages-info .ui-messages-close {
    color: #1765A3;
}

.ui-messages-warn {
    color: #8A6714;
    background-color: #FFE9B5;
    border-color: #FFE9B5;
}

.ui-messages-warn .ui-messages-close {
    color: #8A6714;
}

.ui-messages-error {
    color: #AB1A0F;
    background-color: #FFCBC8;
    border-color: #FFCBC8;
}

.ui-messages-error .ui-messages-close {
    color: #AB1A0F;
}

.ui-messages ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
}

.ui-messages.ui-messages-noicon ul {
    margin: 0 1.5em 0 0;
}

.ui-messages .ui-messages-close {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
}

/* Message */

.ui-message .ui-message-icon {
    font-size: 1.5em;
    vertical-align: middle;
}

.ui-message .ui-message-text {
    vertical-align: middle;
}

.ui-message {
    border: 1px solid;
    margin: 0px .25em;
    padding: .25em .5em;
    display: inline-block;
}

.ui-fluid .ui-message {
    display: block;
}

.ui-multiselect {
    display: inline-block;
    position: relative;
    width: auto;
    cursor: pointer;
}

.ui-multiselect .ui-multiselect-trigger {
    border-right: none;
    border-top: none;
    border-bottom: none;
    cursor: pointer;
    width: 1.5em;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 .25em;
}

.ui-multiselect .ui-multiselect-trigger .ui-multiselect-trigger-icon {
    top: 50%;
    left: 50%;
    margin-top: -.5em;
    margin-left: -.5em;
    position: absolute;
}

.ui-multiselect .ui-multiselect-label-container {
    overflow: hidden;
}

.ui-multiselect .ui-multiselect-label {
    display: block;
    padding: .25em 2em .25em .25em;
    width: auto;
    border: none;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
}

.ui-multiselect.ui-state-disabled .ui-multiselect-trigger,
.ui-multiselect.ui-state-disabled .ui-multiselect-label {
    cursor: auto
}

.ui-multiselect-panel {
    padding: 0.2em;
    position: absolute;
    min-width: 12em;
}

.ui-multiselect .ui-multiselect-panel {
    min-width: 100%;
    display: none;
}

.ui-multiselect-panel .ui-multiselect-items-wrapper {
    overflow: auto;
    position: relative;
    padding: 0.2em 0;
}

.ui-multiselect-panel .ui-multiselect-list {
    border: 0 none;
}

.ui-multiselect-panel .ui-multiselect-item {
    border: 0 none;
    cursor: pointer;
    font-weight: normal;
    margin: 1px 0;
    padding: .125em .25em;
    text-align: left;
    white-space: nowrap;
    display: block;
    position: relative;
}

.ui-multiselect-panel .ui-multiselect-item .ui-chkbox {
    display: inline-block;
    vertical-align: middle;
}

.ui-multiselect-panel .ui-multiselect-item label {
    display: inline-block;
    vertical-align: middle;
}

.ui-multiselect-header {
    margin-bottom: 0.3em;
    padding: .25em;
    position: relative;
    text-align: left;
    min-height: 2em;
}

.ui-multiselect-header .ui-chkbox {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.ui-multiselect-header .ui-multiselect-filter-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 65%;
}

.ui-multiselect-header.ui-multiselect-header-no-toggleall .ui-multiselect-filter-container {
    width: 85%;
}

.ui-multiselect-header .ui-multiselect-filter-container .ui-multiselect-filter-icon {
    position: absolute;
    top: .25em;
    left: .125em;
}

.ui-multiselect-header .ui-inputtext {
    padding: .125em .125em .125em 1.25em;
    width: 100%;
}

.ui-multiselect-header .ui-multiselect-close {
    position: absolute;
    right: .375em;
    top: .375em;
    display: block;
    font-size: 1em;
    border: 0 none;
}

.ui-multiselect-header a.ui-multiselect-all,
.ui-multiselect-header a.ui-multiselect-none {
    float: left;
    margin-right: 10px;
    display: block;
}

.ui-multiselect-header .ui-multiselect-close.ui-state-hover {
    padding: 0px;
}

.ui-multiselect-footer {
    padding: .25em;
}

.ui-fluid .ui-multiselect {
    width: 100%;
    box-sizing: border-box;
}

.ui-organizationchart .ui-organizationchart-table {
    border-spacing: 0;
    border-collapse: separate;
    margin: 0 auto;
}

.ui-organizationchart .ui-organizationchart-table>tr>td {
    text-align: center;
    vertical-align: top;
    padding: 0;
    padding: 0 .75em;
}

.ui-organizationchart .ui-organizationchart-node-content {
    padding: .5em .75em;
    display: inline-block;
    position: relative;
}

.ui-organizationchart .ui-organizationchart-node-content .ui-node-toggler {
    position: absolute;
    bottom: -9px;
    margin-left: -8px;
    z-index: 2;
    left: 50%;
}

.ui-organizationchart .ui-organizationchart-line-down {
    margin: 0 auto;
    height: 20px;
    width: 1px;
    float: none;
}

.ui-organizationchart .ui-organizationchart-line-right {
    float: none;
    border-radius: 0px;
}

.ui-organizationchart .ui-organizationchart-line-left {
    float: none;
    border-radius: 0;
}

.ui-organizationchart .ui-organizationchart-node-content.ui-organizationchart-selectable-node {
    cursor: pointer;
}

.ui-listbox {
    padding: 0;
    min-width: 12em;
    background: #ffffff;
    border: 0px solid #a6a6a6;
}

.ui-listbox .ui-chkbox {
    margin: 0 0.5em 0 0;
}

.ui-listbox .ui-listbox-header {
    padding: 0.429em 0.857em 0.429em 0.857em;
    border-bottom: 1px solid #eaeaea;
    color: #333333;
    background-color: #ffffff;
    margin: 0;
}

.ui-listbox .ui-listbox-header .ui-listbox-filter-container {
    width: calc(100% - (0.857em + 0.857em + 0.5em));
}

.ui-listbox .ui-listbox-header .ui-listbox-filter-container input {
    padding: 0.429em;
    padding-right: 2em;
}

.ui-listbox .ui-listbox-header .ui-listbox-filter-container .ui-listbox-filter-icon {
    top: 50%;
    left: auto;
    margin-top: -.5em;
    right: .5em;
    color: #007ad9;
}

.ui-listbox .ui-listbox-list {
    background-color: #ffffff;
    padding: 0px;
}

.ui-listbox .ui-listbox-list .ui-listbox-item {
    margin: 0;
    padding: 0.429em 0.857em;
    border: 0 none;
    color: #58666e;
    background-color: transparent;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    font-weight: 600;
    border-radius: 0;
    border: 1px solid #FFF;

}

.ui-listbox .ui-listbox-list .ui-listbox-item.ui-state-highlight {
    color: #58666e;
    background-color: #FFF;
    border: 1px solid #43c5e6;
}

.ui-listbox .ui-listbox-list .ui-listbox-item .ui-chkbox {
    position: static;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.5em 0 0;
}

.ui-listbox .ui-listbox-list .ui-listbox-item label {
    display: inline-block;
    vertical-align: middle;
}

.ui-listbox:not(.ui-state-disabled) .ui-listbox-item:not(.ui-state-highlight):not(.ui-state-disabled):hover {
    color: #333333;
    background-color: #eaeaea;
}

.ui-listbox.ui-state-disabled .ui-chkbox-box:not(.ui-state-disabled):not(.ui-state-active):hover {
    border: 1px solid #a6a6a6;
}

.ui-listbox .ui-listbox-footer {
    padding: 0.429em 0.857em 0.429em 0.857em;
    border-top: 1px solid #eaeaea;
    color: #333333;
    background-color: #ffffff;
}

.ui-overlaypanel {
    padding: 0;
    margin: 0;
    position: absolute;
}

.ui-overlaypanel-content {
    padding: 0.5em 1em;
}

.ui-overlaypanel-close {
    position: absolute;
    top: -.5em;
    right: -.5em;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.ui-orderlist {
    display: table;
}

.ui-orderlist .ui-orderlist-controls {
    height: 12.5em;
    padding: 0 .25em;
    vertical-align: middle;
    display: table-cell;
}

.ui-orderlist .ui-orderlist-controls .ui-button {
    display: block;
    margin-bottom: 0.25em;
}

.ui-orderlist .ui-orderlist-container {
    display: table-cell;
    vertical-align: top;
}

.ui-orderlist .ui-orderlist-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    height: 12.5em;
    width: 12.5em;
}

.ui-orderlist .ui-orderlist-caption {
    text-align: center;
    padding: .5em .75em;
    border-bottom: 0 none;
}

.ui-orderlist .ui-orderlist-list .ui-orderlist-item {
    margin: 1px;
    padding: .125em;
    cursor: pointer;
    border: 0 none;
    font-weight: inherit;
}

.ui-orderlist .ui-orderlist-filter-container {
    position: relative;
    width: 100%;
    padding: .5em .6em;
    border-bottom: 0 none;
}

.ui-orderlist .ui-orderlist-filter-container .ui-inputtext {
    text-indent: 1.1em;
    width: 100%;
}

.ui-orderlist .ui-orderlist-filter-container .ui-orderlist-filter-icon {
    position: absolute;
    top: 50%;
    left: 1em;
    margin-top: -.6em;
}

.ui-orderlist.ui-state-disabled .ui-orderlist-item,
.ui-orderlist.ui-state-disabled .ui-button {
    cursor: default;
}

.ui-orderlist.ui-state-disabled .ui-orderlist-list {
    overflow: hidden;
}

/* Responsive */

.ui-orderlist.ui-orderlist-responsive {
    width: 100%;
}

.ui-orderlist.ui-orderlist-responsive .ui-orderlist-controls {
    width: 16.66666%;
    padding-right: .5em;
}

.ui-orderlist.ui-orderlist-responsive .ui-orderlist-list-container {
    width: 83.33333%;
}

.ui-orderlist.ui-orderlist-responsive .ui-orderlist-list,
.ui-orderlist.ui-orderlist-responsive .ui-orderlist-caption {
    width: 100%;
}

.ui-orderlist.ui-orderlist-responsive .ui-orderlist-controls>.ui-button {
    width: 100%;
}

.ui-orderlist .ui-orderlist-droppoint {
    height: 6px;
    list-style-type: none;
}

@media (max-width: 40em) {
    .ui-orderlist.ui-orderlist-responsive .ui-orderlist-controls {
        text-align: center;
        width: 100%;
        display: inline-block;
        height: auto;
    }
    .ui-orderlist.ui-orderlist-responsive .ui-orderlist-controls .ui-button {
        display: inline-block;
        width: 20%;
        margin-right: .25em;
    }
    .ui-orderlist.ui-orderlist-responsive .ui-orderlist-list-container {
        width: 100%;
    }
}

.ui-paginator {
    margin: 0;
    text-align: center;
    padding: .125em;
}

.ui-paginator .ui-paginator-top {
    border-bottom: 0 none;
}

.ui-paginator-bottom {
    background-color: @white;
    padding: 15px 0px;
    a {
        background: transparent;
        margin: 0px 5px;
        border-radius: 4px;
        padding: 4px 10px;
        color: @bluegrey;
        border: 2px solid @lightgrey2;
        font-weight: 600;
        &:hover {
            border: 2px solid @blue;
            color: @violet;
        }
        &.ui-state-active {
            border-color: @blue;
            color: @violet;
        }
    }
}

.ui-paginator .ui-paginator-jtp-select option,
.ui-paginator .ui-paginator-rpp-options option {
    background-image: none;
    border: 0 none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.ui-paginator a.ui-state-disabled {
    outline: 0 none;
}

.ui-paginator .ui-dropdown {
    min-width: 4em;
    margin-left: .375em;
}

.ui-fluid .ui-paginator .ui-dropdown {
    width: auto;
}

.ui-panel {
    padding: 0.2em;
}

.ui-panel .ui-panel-titlebar {
    padding: .5em .75em;
}

.ui-panel .ui-panel-titlebar-icon {
    float: right;
    cursor: pointer;
}

.ui-panel .ui-panel-titlebar-icon {
    margin-left: 0.2em;
    margin-top: -0.1em;
}

.ui-panel .ui-panel-content {
    border: 0;
    background: none;
    padding: .5em .75em;
}

.ui-panel .ui-panel-footer {
    border-width: 1px 0 0;
    padding: .25em .5em;
    text-align: left;
}

.ui-panel-content-wrapper-overflown {
    overflow: hidden;
}

.ui-panelmenu {
    width: auto;
}

.ui-panelmenu .ui-menu-separator {
    border-width: 1px 0 0 0;
}

.ui-panelmenu .ui-panelmenu-content-wrapper {
    overflow: hidden;
}

.ui-panelmenu .ui-panelmenu-header {
    margin: -1px 0 0 0;
    zoom: 1;
}

.ui-panelmenu .ui-panelmenu-header-link {
    padding: .5em;
    display: block;
    text-decoration: none;
}

.ui-panelmenu .ui-menuitem-icon {
    margin-right: .25em;
}

.ui-panelmenu .ui-panelmenu-content {
    padding: 0.25em;
    border-top: 0;
    margin-bottom: 1px;
}

.ui-panelmenu .ui-submenu-list {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 1.5em;
}

.ui-panelmenu .ui-panelmenu-content>.ui-panelmenu-root-submenu>.ui-submenu-list {
    margin-left: 0;
}

.ui-panelmenu .ui-menuitem {
    overflow: hidden;
    margin: .125em 0;
}

.ui-panelmenu .ui-menuitem-link {
    padding: .25em;
    display: block;
    text-decoration: none;
}

.ui-password-panel {
    padding: .25em .5em;
    width: 10em;
    margin-top: 2px;
}

.ui-password-panel .ui-password-meter {
    height: 10px;
    padding: 0;
    margin: 0;
}

.ui-password-info {
    margin-top: .25em;
}

.ui-password-panel-overlay {
    position: absolute;
}

.ui-picklist>div {
    float: left;
}

.ui-picklist .ui-picklist-buttons {
    height: 12.5em;
    padding: 0 .25em;
}

.ui-picklist .ui-picklist-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    height: 12.5em;
    width: 12.5em;
}

.ui-picklist .ui-picklist-list li {
    margin: 1px;
    padding: .125em;
}

.ui-picklist .ui-button {
    display: block;
    margin-bottom: 0.25em;
}

.ui-picklist .ui-button-text-icon-left {
    width: 100%;
}

.ui-picklist .ui-picklist-item {
    cursor: pointer;
    border: 0 none;
    font-weight: inherit;
}

.ui-picklist .ui-picklist-caption {
    text-align: center;
    padding: .5em .75em;
    border-bottom: 0 none;
}

.ui-picklist table {
    width: 100%;
    border-collapse: collapse;
}

.ui-picklist .ui-picklist-filter-container {
    position: relative;
    width: 100%;
    padding: .5em .6em;
    border-bottom: 0 none;
}

.ui-picklist .ui-picklist-filter-container .ui-picklist-filter {
    text-indent: 1.1em;
    width: 100%;
}

.ui-picklist .ui-picklist-filter-container .ui-picklist-filter-icon {
    position: absolute;
    top: 50%;
    left: 1em;
    margin-top: -.6em;
}

.ui-picklist {
    display: table;
}

.ui-picklist>div {
    float: none;
    display: table-cell;
    vertical-align: top;
}

.ui-picklist .ui-picklist-buttons {
    vertical-align: middle;
}

/* Vertical */

.ui-picklist.ui-picklist-vertical {
    display: table;
}

.ui-picklist.ui-picklist-vertical>div {
    float: none;
    display: table-row;
    vertical-align: top;
}

.ui-picklist.ui-picklist-vertical .ui-picklist-buttons {
    text-align: center;
    height: auto;
}

.ui-picklist.ui-picklist-vertical .ui-picklist-buttons .ui-button {
    display: inline-block;
}

.ui-picklist.ui-picklist-vertical .ui-button {
    margin-top: 0.25em;
}

.ui-picklist-outline {
    outline: 1px dotted black;
    z-index: 1;
}

.ui-picklist .ui-picklist-droppoint {
    height: 6px;
    list-style-type: none;
}

.ui-picklist .ui-picklist-list .ui-picklist-droppoint-empty {
    height: 100%;
    list-style-type: none;
}

.ui-picklist-list.ui-picklist-source,
.ui-picklist-list.ui-picklist-target {
    outline: none;
}

/* Responsive */

.ui-picklist.ui-picklist-responsive * {
    box-sizing: border-box;
}

.ui-picklist.ui-picklist-responsive {
    width: 100%;
}

.ui-picklist.ui-picklist-responsive .ui-picklist-listwrapper {
    width: 35%;
}

.ui-picklist.ui-picklist-responsive .ui-picklist-listwrapper.ui-picklist-listwrapper-nocontrols {
    width: 45%;
}

.ui-picklist.ui-picklist-responsive .ui-picklist-buttons {
    width: 10%;
}

.ui-picklist.ui-picklist-responsive .ui-picklist-buttons button {
    width: 100%;
}

.ui-picklist.ui-picklist-responsive .ui-picklist-list {
    width: auto;
}

/* Responsive */

@media (max-width: 40em) {
    .ui-picklist.ui-picklist-responsive {
        display: block;
    }
    .ui-picklist.ui-picklist-responsive>div {
        display: block;
        width: 100% !important;
    }
    .ui-picklist.ui-picklist-responsive .ui-picklist-buttons {
        text-align: center;
        height: auto;
        padding: .4em 0;
    }
    .ui-picklist.ui-picklist-responsive .ui-picklist-buttons button {
        display: inline-block;
        width: 20%;
        margin-bottom: 0;
        margin-right: .25em;
    }
    .ui-picklist.ui-picklist-responsive .ui-picklist-source-controls.ui-picklist-buttons {
        padding-bottom: .4em;
    }
    .ui-picklist.ui-picklist-responsive .ui-picklist-target-controls.ui-picklist-buttons {
        padding-top: .4em;
    }
    .ui-picklist.ui-picklist-responsive .ui-picklist-buttons .pi-angle-right::before {
        content: "\e930";
    }
    .ui-picklist.ui-picklist-responsive .ui-picklist-buttons .pi-angle-double-right::before {
        content: "\e92c";
    }
    .ui-picklist.ui-picklist-responsive .ui-picklist-buttons .pi-angle-left::before {
        content: "\e933";
    }
    .ui-picklist.ui-picklist-responsive .ui-picklist-buttons .pi-angle-double-left::before {
        content: "\e92f";
    }
}

.ui-progressbar {
    height: 1.2em;
    text-align: left;
    position: relative;
    overflow: hidden;
}

.ui-progressbar-determinate .ui-progressbar-value {
    height: 100%;
    width: 0%;
    position: absolute;
    display: none;
    border: 0 none;
}

.ui-progressbar-determinate .ui-progressbar-value-animate {
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}

.ui-progressbar-determinate .ui-progressbar-label {
    text-align: center;
    height: 100%;
    width: 100%;
    position: absolute;
    display: none;
    font-weight: bold;
}

.ui-progressbar-indeterminate {
    height: .5em;
}

.ui-progressbar-indeterminate .ui-progressbar-value {
    border: 0 none;
}

.ui-progressbar-indeterminate .ui-progressbar-value::before {
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: ui-progressbar-indeterminate-anim 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
    animation: ui-progressbar-indeterminate-anim 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}

.ui-progressbar-indeterminate .ui-progressbar-value::after {
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: ui-progressbar-indeterminate-anim-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    animation: ui-progressbar-indeterminate-anim-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    -webkit-animation-delay: 1.15s;
    animation-delay: 1.15s;
}

.ui-inputswitch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px !important;
}

.ui-inputswitch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .3s;
    transition: .3s;
    border-radius: 30px;
    background-color: #ddd;
    border: 0px solid #ccc;
}

.ui-inputswitch-slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 4px !important;
    border-radius: 50%;
    -webkit-transition: .3s;
    transition: .3s;
}

.ui-inputswitch-checked .ui-inputswitch-slider:before {
    -webkit-transform: translateX(1.250em);
    -ms-transform: translateX(1.250em);
    transform: translateX(1.250em);
}

.ui-inputswitch.ui-inputswitch-checked .ui-inputswitch-slider {
    background-color: #4CAF50;
}

.ui-inputswitch .ui-inputswitch-slider:before {
    background-color: #FFF !important;
    box-shadow: 0px 1px 7px rgba(61, 86, 114, 0.2);
}

.ui-inputswitch.ui-inputswitch-checked .ui-inputswitch-slider:before {
    background-color: #FFF !important;
    box-shadow: 0px 1px 7px rgba(61, 86, 114, 0.2);
}

.ui-inputswitch {
    display: inline-block;
    padding: 0;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    height: 1.5em;
}

.ui-inputswitch .ui-inputswitch-on,
.ui-inputswitch .ui-inputswitch-off {
    white-space: nowrap;
    display: inline-block;
    position: absolute;
    top: 0;
    width: auto;
    overflow: hidden;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    font-weight: bold;
    height: 100%;
    line-height: 1.5em;
}

.ui-inputswitch .ui-inputswitch-on {
    left: 0;
    border: 0 none;
}

.ui-inputswitch .ui-inputswitch-off {
    right: 0;
    text-align: right;
}

.ui-inputswitch .ui-inputswitch-on span,
.ui-inputswitch .ui-inputswitch-off span {
    display: inline-block;
    text-align: center;
    height: 100%;
    line-height: inherit;
}

.ui-inputswitch .ui-inputswitch-handle {
    display: block;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-top: 0 none;
    border-bottom: 0 none;
}

/* Responsive */

.ui-table-responsive .ui-table-tbody>tr>td .ui-column-title {
    display: none;
}

@media screen and (max-width: 40em) {
    .ui-table-responsive .ui-table-thead>tr>th,
    .ui-table-responsive .ui-table-tfoot>tr>td {
        display: none !important;
    }
    .ui-table-responsive .ui-table-tbody>tr>td {
        text-align: left;
        display: block;
        border: 0 none;
        width: 100% !important;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
        clear: left;
        padding: 1px 12px !important;
        &:first-child {
            margin-top: 10px;
        }
        &:last-child {
            margin-bottom: 10px;
        }
    }
    .ui-table-responsive .ui-table-tbody>tr>td .ui-column-title {
        padding: .4em;
        min-width: 30%;
        display: inline-block;
        margin: -.4em 1em -.4em -.4em;
        font-weight: bold;
    }
}

.ui-steps {
    border-bottom: 1px dotted #dddddd;
    margin-bottom: 30px;
}

.ui-steps ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.ui-steps .ui-steps-item {
    float: left;
    display: block;
    cursor: pointer;
    width: 10%;
}

.ui-steps.ui-steps-readonly .ui-steps-item {
    cursor: auto;
}

.ui-steps .ui-steps-item .ui-menuitem-link {
    text-decoration: none;
    display: block;
    padding: 20px 10px;
    position: relative;
    text-align: center;
}

.ui-steps .ui-steps-item.ui-state-highlight .ui-menuitem-link,
.ui-steps .ui-steps-item.ui-state-disabled .ui-menuitem-link {
    cursor: default;
}

.ui-steps .ui-steps-number {
    font-size: 200%;
    width: 50px;
    height: 50px;
    display: flex;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #ccc;
    color: #ccc;
    justify-content: center;
    align-items: center;
    margin: auto;
    outline: 5px solid white;
    margin-bottom: 10px;
    position: relative;
    z-index: 1000;
}

li.ui-steps-item .ui-menuitem-link::before {
    content: '';
    position: absolute;
    top: 46px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #efefef;
    z-index: 10;
}

li.ui-steps-item:first-child .ui-menuitem-link::before {
    width: 50%;
    height: 2px;
    background: #efefef;
    z-index: 10;
    right: 0px;
    margin-left: 50%;
}

li.ui-steps-item:last-child .ui-menuitem-link::before {
    width: 50%;
    height: 2px;
    background: #efefef;
    z-index: 10;
    right: 0px;
    margin-right: 50%;
}

.ui-steps .ui-steps-item.ui-state-highlight .ui-menuitem-link .ui-steps-number,
.ui-steps .ui-steps-item.ui-state-complete .ui-menuitem-link .ui-steps-number {
    font-size: 200%;
    width: 50px;
    height: 50px;
    display: flex;
    border-radius: 50%;
    background: #5cb85c;
    border: 1px solid #5cb85c !important;
    color: #FFF !important;
    justify-content: center;
    align-items: center;
    margin: auto;
    outline: 5px solid white;
    margin-bottom: 10px;
}

.ui-steps .ui-steps-item.ui-state-highlight .ui-menuitem-link::before,
.ui-steps .ui-steps-item.ui-state-complete .ui-menuitem-link::before {
    background: #5cb85c;
}

.ui-steps .ui-steps-title {
    display: block;
    white-space: nowrap;
}

/* Responsive */

@media (max-width: 40em) {
    .ui-steps .ui-steps-item .ui-menuitem-link {
        padding: 0.5em;
    }
    .ui-steps .ui-steps-item .ui-steps-title {
        display: none;
    }
}

p-radiobutton {
    margin-right: 5px;
}

.ui-radiobutton {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.ui-radiobutton .ui-radiobutton-box {
    border: 1px solid #a6a6a6;
    background-color: #ffffff;
    width: 20px;
    height: 20px;
    text-align: center;
    position: relative;
    -moz-transition: background-color 0.2s, border-color 0.2s;
    -o-transition: background-color 0.2s, border-color 0.2s;
    -webkit-transition: background-color 0.2s, border-color 0.2s;
    transition: background-color 0.2s, border-color 0.2s;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.ui-radiobutton .ui-radiobutton-box.ui-state-active {
    border-color: #4CAF50;
    background-color: #4CAF50;
    color: #ffffff;
}

.ui-tree {
    .ui-tree-container {
        padding: 0.286em;
        margin: 0;
        .ui-treenode {
            background-attachment: scroll;
            background-color: transparent;
            background-image: none;
            background-position: 0 0;
            background-repeat: repeat-y;
            list-style: none;
            margin: 0;
            padding: 3px 6px;
            .ui-treenode-children {
                margin: 0;
                padding: 0 0 0 1em;
                .ui-treenode-content {
                    .ui-tree-toggler {
                        vertical-align: middle;
                        display: inline-block;
                        float: none;
                        margin: 0 0.143em 0 0;
                        color: #848484;
                    }
                }
            }
        }
    }
}